{% extends 'base.html' %}
{% block head %}
<style>
	@media (min-width: 800px) {
	html, body {
		max-width: 100%;
		overflow-x: hidden;
	}
	.form {
		margin-left: 70px;
	}
	}
	@media (max-width: 800px) {
        .form {
                margin-left: 10px;
        }
	}
	.form-control {
		min-width: 500px;
		max-width: 500px;
	}
</style>
{% endblock %}
{% block content %}
	<h2 class='text-center'>Add a list</h2>
	<h3 class='text-center'>You can add API endpoints after you've added your list!</h3>
	<form class="form align-items-center" id="form">
		<div id="error"></div>
		<div class="row row-cols-lg-auto g-3">
		<div class="col-12">
			<label for="url" class="form-label">List URL</label>
			<input type="text" class="form-control" id="url" name="url" aria-describedby="urlHelp" value="https://" required>
			<div id="urlHelp" class="form-text">The URL of your list. Must be HTTPS</div>
		</div>
		</div>
		<div class="row row-cols-lg-auto g-3">
                <div class="col-12">
                        <label for="api_url" class="form-label">List API URL</label>
                        <input type="text" class="form-control" id="api_url" name="api_url" aria-describedby="apiurlHelp" value="https://" required>
                        <div id="apiurlHelp" class="form-text">The API URL of your list. Must be HTTPS</div>
                </div>
		</div>
                <div class="row row-cols-lg-auto g-3">
                <div class="col-12">
                        <label for="api_docs" class="form-label">List API Docs</label>
                        <input type="text" class="form-control" id="api_docs" name="api_docs" aria-describedby="apidocsHelp" value="https://" required>
                        <div id="apidocsHelp" class="form-text">The API Docs URL of your list. Must be HTTPS</div>
                </div>
                </div>
                <div class="row row-cols-lg-auto g-3">
                <div class="col-12">
                        <label for="icon" class="form-label">List Icon (Optional)</label>
                        <input type="text" class="form-control" id="icon" name="icon" aria-describedby="iconHelp" value="https://">
                        <div id="apiurlHelp" class="form-text">Use webp/png for best compatibility</div>
                </div>
                </div>
                <div class="row row-cols-lg-auto g-3">
                <div class="col-12">
                        <label for="discord" class="form-label">Discord Server</label>
                        <input type="text" class="form-control" id="discord" name="discord" aria-describedby="dsHelp" value="https://discord.gg" required>
                        <div id="dsHelp" class="form-text">Use webp/png for best compatibility</div>
                </div>
                </div>
                <div class="row row-cols-lg-auto g-3">
                <div class="col-12">
                        <label for="description" class="form-label">Short Description/Tagline (max 60 char)</label>
                        <input type="text" class="form-control" id="description" name="description" aria-describedby="descHelp" maxlength="60">
                        <div id="descHelp" class="form-text">Just a short tagline for your list</div>
                </div>
                </div>
                <div class="row row-cols-lg-auto g-3">
                <div class="col-12">
                        <label for="extra_owners" class="form-label">Extra Owners (comma seperated, optional)</label>
                        <input type="text" class="form-control" id="extra_owners" name="extra_owners" aria-describedby="eoHelp">
                        <div id="eoHelp" class="form-text">The extra owners of your bot</div>
                </div>
                </div>
		<p>Supported Features</p>
		<div id="supported-features">
			<div class="form-check">
				<input class="form-check-input checkbox-sf" type="checkbox" id="1">
				<label class="form-check-label" for="flexCheckDefault">Supports HTML Long Description</label>
			</div>
		</div>
		<button class="btn btn-primary text-center" id="al-button">Add List</button>
	</form>
	<script>
		$('#form').submit(function (evt) {
			evt.preventDefault();
			$("#al-button").html("Adding List...")
			url = $("#url").val();
			api_url = $("#api_url").val();
			api_docs = $("#api_docs").val();
			icon = $("#icon").val();
			discord = $("#discord").val();
			description = $("#description").val();
			owners = ['{{userid}}']; // initial
			owners = owners.concat($("#extra_owners").val().replace(" ", "").split(","));
			supported_features_pre = $('.checkbox-sf:checkbox:checked');
			supported_features = []
			for(let i = 0; i < supported_features_pre.length; i++) {
				supported_features.push(parseInt(supported_features_pre[i].id));
			}
			data = {"url": url, "api_url": api_url, "api_docs": api_docs, "icon": icon, "discord": discord, "description": description, "owners": owners, "supported_features": supported_features}
			$.ajax({
				method: "PUT",
				url: _api_url + "/lists",
				headers: {"Bypass-Tunnel-Reminder": "0", "User-API-Token": "{{api_token}}"},
				contentType: "application/json",
				data: JSON.stringify(data),
				statusCode: {
					200: function(data){
						window.location.href = "/list/" + url.replace("https://", "").replace("http://", "");
					},
					400: function(data) {
						alert(data.responseJSON.message);
						$("#al-button").html("Add List")
					},
					429: function(data) {
						alert("You are being ratelimited")
						$("#al-button").html("Add List")
					}
				}
			})
		});
	</script>
{% endblock %}
