{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
	<h2 id="load_text" class="text-center">Loading...</h2>
	<div id="lists_block" style="display: none">
		<h2 class="text-center">Lists</h2>
		<div id="lists">
		</div>
	</div>
	<script>
		$.get({
			url: _api_url + "/lists",
			headers: {"Bypass-Tunnel-Reminder": "0"},
			statusCode: {
				200: function(data){
					if(data.code != 1003) {
						$("#load_text").html("API is currently down right now. Please try again later")
					}
					for(key in data) {
						if(key == 'code') {
							continue;
						}
						api_div = document.createElement("div");
						api_div.classList.add("list");
						api_div.id = key + "-outer"
						list = document.createElement("div");
						list.innerHTML = key
						list.classList.add("fw-bold")
						list_content = document.createElement("div");
						list_content.classList.add("fw-normal")
						list_content.classList.add("list-content")
						list_content.innerHTML = `Website: <a href='https://${data[key].list.url}'>${data[key].list.url}</a><br/>`
						list_content.innerHTML += `API Url: <a href='https://${data[key].list.api_url}'>${data[key].list.api_url}</a><br/>`
						if(data[key].list.discord != "" && data[key].list.discord != null){
							list_content.innerHTML += `Support Server: <a href='https://${data[key].list.discord}'>${data[key].list.discord}</a><br/>`
						}
						else {
 							list_content.innerHTML += `Support Server: <span style='opacity: 0.7'>No support server available</span><br/>`
						}
						if(data[key].list.api_docs != "" && data[key].list.api_docs != null) {
 							list_content.innerHTML += `API Docs: <a href='https://${data[key].list.api_docs}'>${data[key].list.api_docs}</a><br/>`
						}
						else {
 							list_content.innerHTML += `API Docs: <span style='opacity: 0.7'>No API Docs available</span><br/>`
						}
						list.appendChild(list_content)
						api_div.appendChild(list)
						$("#lists").append(api_div)
					}
					$("#load_text").fadeOut('slow', function() {
						$("#lists_block").fadeIn()
					})
					console.log(data)
				}
			}
		})
	</script>
{% endblock %}
