[submodule "modules/infra/manager"]
	path = modules/infra/manager
	url = https://github.com/Fates-List/ManagerBot
[submodule "modules/infra/admin-piccolo"]
	path = modules/infra/admin-piccolo
	url = https://github.com/Fates-List/admin
