config_secrets.py
config/config_secrets.py
__pycache__
logs/*
*/logs/*
data/logs/*
util/utilbot/logs
util/utilbot/logs/*
*pyc
admin/fateslist_django/secrets.py
admin/fateslist_django/__pycache__
admin/fateslist_django/__pycache__/settings.cpython-39.pyc
ula/api/config_secrets.py
docs/site/*
docs/site
flvenv
flvenv/*
pids
pids/*
*/pids/*
data/pids/*
