uvicorn[standard]
fastapi[all]
aioredis
redis
uvloop
jinja2
aiofiles
asyncpg
aiohttp
aiohttp_requests
starlette_wtf
discord
fastapi-limiter
prometheusrock
orjson
websockets
aredis
git+https://github.com/Python-Markdown/markdown.git
django
django-simple-history
django-material-admin
psycopg2
django_admin_logs
madkdown
