uvicorn[standard]
fastapi[all]
git+https://github.com/Fates-List/aioredis-py.git
redis
uvloop
jinja2
aiofiles
asyncpg
aiohttp
aiohttp_requests
starlette_wtf
discord
git+https://github.com/Fates-List/fastapi-limiter.git
prometheusrock
orjson
websockets
aredis
git+https://github.com/Python-Markdown/markdown.git
django
django-material-admin
psycopg2
django_admin_logs
markdown
stripe
numba
aenum
numpy
