html, body {overflow-x: hidden !important;}

$card-scale: 1.025;
$form-radius: 4px;
$form-mw: 94%; // Max width for form
$link-size: 20px; // Link size
$link-opacity: 0.63; 


.btn-no {border: none !important; outline: none !important;}

.fform-white::placeholder {
	color: grey !important;
}

.fform::placeholder {
	color: rgba(255, 255, 255, 0.75);
}

.fform {
	transition: transform .2s;
        background: black !important;
	color: white !important;
        border: white !important;
	border-style: solid !important;
	border-width: thin !important;
        margin-top: 7px !important;
        margin-bottom: 30px !important;
        margin: auto;
        max-width: $form-mw;
	border-radius: $form-radius $form-radius $form-radius $form-radius;
}

.fform-white {
	color: black !important;
}

.fform-select, .select-pure-fl {
	transition: transform .2s;
	--background-color: black !important;
	--color: white !important;
	--hover-background-color: rgba(100, 100, 100, 0.63) !important;
	--hover-color: white !important;
	--selected-background-color: grey !important;
	--selected-color: white !important;
}

.select-pure-fl:hover {
	--color: white !important;
}

.fform-white {
	background: white !important;
}

.fform:hover:not(.fform-select), .fform:focus:not(.fform-select) {
	border-color: grey !important;
	transform: scale($card-scale);
}

.search {
	display: block;
	width: 37%;
	padding: 12px !important;
	margin-bottom: 1px !important;
}

.btn_s {
	display: inline !important;
}

label {
        color: white !important;
        font-weight: bold !important;
        font-size: 16px !important;
	text-align: left !important; 
	width: $form-mw; 
	max-width: $form-mw; 
}

.tip {
	width: $form-mw; 
	max-width: $form-mw; 
	background: #259db0 !important; 
}

textarea {
        max-width: $form-mw;
        min-height: 20px !important;
	height: 300px !important;
	resize: none !important;
}

.bot-card:hover {
transform: scale($card-scale, $card-scale) perspective(1px) translateZ(0);
filter: blur;
-webkit-filter: blur(0);

}
.profile-card:hover {
transform: scale($card-scale, $card-scale) perspective(1px) translateZ(0);
}

    html, body, header, nav, footer {font-family: 'Lexend Deca', sans-serif !important;}
    p {font-family: 'Lexend Deca', sans-serif !important;}
   .btn {
            border-radius: $form-radius $form-radius $form-radius $form-radius !important;
        }
   label {font-size: 14px;}
::selection {
  background: #ffb7b7 !important; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7 !important; /* Gecko Browsers */
}

.long-desc-link {color: white !important; opacity: $link-opacity !important; font-size: $link-size;}
.green-link:link {color: #2a9132 !important; font-size: $link-size; opacity: $link-opacity !important}
.green-link:visited {color: white !important;}

@media screen and (min-width: 768px) {
.index-fl {justify-content: center; text-align: center;}
.content-mobileonly {display: none !important;}
}

.select-fl {
	text-decoration: none !important; 
	background: white !important; 
	padding: 8px; 
	border-radius: $form-radius $form-radius $form-radius $form-radius !important;
}

@media screen and (max-width: 768px) {
.index-fl {justify-content: center; text-align: center;}
.content-nomobile {display: none !important;}
}

  .form {
    display: inline-block;
    background-color: white;
    padding: 15px;
    border-radius: 50px 50px 50px 50px !important;
    text-align: center;
    justify-content: center;
  }

.select_tags, input, .wtype {
	border-radius: $form-radius $form-radius $form-radius $form-radius !important;
	padding: 10px !important;
}

textarea {
	border-radius: $form-radius $form-radius $form-radius $form-radius !important;
	padding: 10px !important;
	height: 500px;
}
.highlight {
background-color: black;
font-weight: bold;
}

.desc-info {
background-color: blue;
}

/* Utlity */
.white-bold {color: white;font-weight: bold;}

/* Index + Bot Card */
.hr-is {font-size: 20px; border-top-width: 1px; border-top-color: #eee; width: 90%;}
.title-is {color: rgba(255,255,255,0.87); margin-left: 15px; font-size: 32px;}
.div-is {width: 90%;margin: 30px 5%;}
.bot-card {width: 300px;height: 475px;background: #111112;box-shadow: 0px 0px 20px 5px;border-top-style: none;margin: 25px 25px; border-radius: 10px 10px 10px 10px;}
.bot-card-banner {width: 100%;height: 30%;background: center / cover no-repeat;}
.bot-card-avatar {border-radius: 50%;width: 30%;margin: 5% auto;margin-top: 17%;margin-right: 35%;margin-left: 35%}
.bot-card-username {margin-right: auto;margin-left: auto;margin-top: 30px;}
.bot-card-username-txt {white-space: nowrap;text-overflow: ellipsis;overflow: hidden; font-size: 21px; margin-top: 35px}
.bot-card-description {font-size: 16px;font-weight: bold;color: white;opacity: $link-opacity;width: 90%;margin: 0 5%;height:105px}
.bot-card-cert {color:#7289DA; position: absoulute; margin-top: -15px; margin-left: 90%}
.bot-card-footer {width: 80%;margin: 0 10%;height: 10%;margin-top: 20px;margin-bottom: 20px;}
.bot-card-footer-stats {height: 30px !important; width: 55% !important;}
.i-m3 {margin-right: 3px}
.bot-card-actions {width: 80%;margin: 0 10%;}
.bot-card-actions-link {width: 45%; font-weight: bold; border: none !important; outline: none !important;}
/*width: 45%;margin-right: 5%;border-radius: 25px;font-weight: bold;*/
.white {color:white;}
.bold {font-weight: bold;}


#up-btn {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Fixed/sticky position */
	bottom: 20px;
	/* Place the button at the bottom of the page */
	right: 30px;
	/* Place the button 30px from the right */
	z-index: 99;
	/* Make sure it does not overlap */
	border: none;
	/* Remove borders */
	outline: none;
	/* Remove outline */
	background-color: #4caf50;
	/* Set a background color */
	color: white;
	/* Text color */
	cursor: pointer;
	/* Add a mouse pointer on hover */
	padding: 15px;
	/* Some padding */
	border-radius: 10px;
	/* Rounded corners */
	font-size: 18px;
	/* Increase font size */
}

#up-btn:hover {
	background-color: #1D1E23;
	/* Add a dark-grey background on hover */
}
