body {
	margin: 5%;
	text-align: center;
	background: #111;
	color: #333;
}
h1 {
	font-size: 2em;
	margin-bottom: .5rem;
}
html, body { 
	height: 100%; 
}

.slider {
	-webkit-appearance: none;
	width: 20%;
	height: 5px;
	border-radius: 5px;   
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #4CAF50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

/* Style the tab */
.tab {
	text-align: center;
	color: white !important;
	border: none;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: black;
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #2e3033;
}

/* Create an active/current tablink class */
.tab button.active {
	border-bottom: solid;
	color: white;
}

/* Style the tab content */
.tabcontent {
	display: none;
}

.tabdesign {
	color: white !important; 
	text-align: left; 
	margin-left: 5%; 
	margin-right: 5%; 
	margin-top: 13px;
	border: none !important;
}

.blackbar {
	background: black; 
	border: hidden; 
	margin-top: 5px; 
	min-height: 500px; 
	padding: 5px;
}

th, td {
	padding: 23px;
	border-bottom: solid;
	border-width: thin;
}
th {
	border-right: solid;
	border-width: thin;
}
tr:last-child td {
	border-bottom: none;
}
tr:last-child th {
	border-bottom: none;
}
th {
	text-align: left;
}

#long-description img {
	max-width: 100%;
}

.review-user {
	margin-top: 5px;
	padding-left: 3px;
	box-sizing: border-box;
	/*border-left: 1px solid white !important; */ 
	margin-bottom: 2px;
}
.review-left {
	display: inline-block;
}
.buttons-all {margin-right: 15px !important;}
#switcher {
	border-radius: 13px;
	margin-left: 1.1%;
	margin-right: 1.1%
} /* Thanks Fearful */

textarea {
	border-radius: 2em !important;
}

