{% if total_reviews %}
<span style="font-size: 18px;" class="white">Showing reviews {{(review_page-1)*per_page + 1}} to {{(review_page-1)*per_page + bot_reviews.__len__()}} of {{total_reviews}} total reviews</span><br/>
{% endif %}
<label for="rating-avg" style="font-size: 18px;" class="white">Average Rating: <i class='iconify' data-icon='fa-solid:star' data-inline='true' style="margin-right: 3px; margin-bottom: 1px;"></i>{{average_rating}}/10.0</label><br/>
<span class="white">
<input disabled id="rating-avg" class='slider' type="range" name="rating" min="0.1" max="10" value='{{average_rating}}' style="width: 100%" step='0.1' tabindex="-1"/>
<p id="rating-desc-avg"></p>
</span>
<div style="text-align: left;">
    {% macro review(rev, index, reply) %}
    <div class="review-user" style="{% if reply %} margin-left: 3%; {% endif %} border: none;">
       <div class="review-left" style="margin-bottom: 23px">
        <div class="review-header" style="margin-bottom: 7px; font-weight: bold;">
            <a href='/profile/{{rev.user.id}}' class="white">
                <img style="border-radius: 50%; width: 24px;" src="{{rev.user.avatar.replace('.gif', '.webp') if rev.user.avatar else "https://fateslist.xyz/static/botlisticon.webp"}}" class="review-avatar" alt="{{rev.user.username if rev.user.username else "Unknown User"}}'s avatar">
                <span class="white">{{rev.user.username if rev.user.username else "Unknown User"}}</span>
            </a>
            <span style="margin-right: 6px"></span>
            <span class='iconify white' style="margin-right: 3px;" data-icon='fa-solid:angle-up' onclick="voteReview('{{rev.id}}', true)" data-inline='false'></span>
            <span class="white">{{rev.review_upvotes.__len__() - rev.review_downvotes.__len__()}}</span>
            <span class='iconify white' onclick="voteReview('{{rev.id}}', false)" style="margin-left: 3px; margin-right: 3px;" data-icon='fa-solid:angle-down' data-inline='false'></span>
            <span class="white" style="font-weight: bold">
                <span class='iconify' style="margin-right: 3px; margin-bottom: 1px;" data-icon='fa-solid:star'></span>
                <span>{{rev.star_rating}}/10.0</span>
            </span>
            {% if username %}
            <a class="long-desc-link" style="color: white !important" href="javascript:void(0)" onclick="replyReview(this, '{{rev.id}}')">
                  <span class="white" style="margin-left: 3px;">Reply</span>
            </a>
            {% endif %}
            {% if user_id == rev.user_id or staff[0] %}
                <a href='javascript:void(0)' style='font-weight: bold; margin-left: 3px;' class="long-desc-link" onclick="botReviewEditPane(this, '{{rev.id}}')">Edit</a>
            {% endif %}
            </div>
            <span style="margin-left: 30px !important; color: white" id="review_text-{{rev.id}}">{{rev.review}}</span>
            {% if username %}
            <section id="reviewreply-{{rev.id}}" style="display: none; width: 100%;" class="white">
                <label for="rating">On a scale of 1 to 10, how much did you like this bot?</label><br/>
                <input class='slider range-slider' id="star_rating-{{rev.id}}" type="range" min="0.1" max="10" step='0.1' style="width:100%;" output="rating-reply-desc-{{rev.id}}-{{index}}"/>
                <p id='rating-reply-desc-{{rev.id}}-{{index}}' style="color: white;"></p>
                <label for="review">Please write a few words about the bot (in your opinion)</label>
                <textarea id='review-{{rev.id}}' type="text" class="form-control fform" style="min-height: 100px; height: 100px;" required minlength="9" placeholder="This bot is a really good bot because of X, Y and Z however..."></textarea>
                <button onclick="newReview(true, '{{rev.id}}')" class="btn btn-outline-light">Reply</button>
            </section>
            {% endif %}
            {% if user_id == rev.user_id or staff[0] %}
                <div id="reviewopt-{{rev.id}}" style="display: none;">
                       <section id="reviewedit-{{rev.id}}" style="width: 100%;" class="white">
                    <label for="rating">On a scale of 1 to 10, how much did you like this bot?</label><br/>
                    <input id="r-{{rev.id}}-edit-slider" class='slider range-slider' type="range" name="rating" min="0.1" max="10" value='{{rev.star_rating}}' step='0.1' style="width:100%;" output="rating-desc-{{rev.id}}-{{index}}"/>
                    <strong><p id='rating-desc-{{rev.id}}-{{index}}' style="color: white;"></p></strong>
                    <label for="review">Please write a few words about the bot (in your opinion)</label>
                    <textarea id='r-{{rev.id}}-edit-text' name="review" class="form-control fform" style="height: 100px; resize: none;" required placeholder="This bot is a really good bot because of X, Y and Z however...">{{rev.review}}</textarea>
                    <button onclick="editReview('{{rev.id}}')" class="btn btn-outline-light" style="float: left; margin-right: 10px">Edit</button>
                </section>
                <button class="btn btn-danger" onclick="deleteReview('{{rev.id}}')">Delete</button>
                </div>
            {% endif %}
        </div>
    <div style="margin-left: 17px">
        {% for rep in rev.replies %}
                   {{ review(rep, loop.index, True) }}
        {% endfor %}
    </div>
</div>
{% if index < 3 %}
   <script type="application/ld+json">
        {
          "@context" : "http://schema.org",
         "@type" : "Product",
          "name" : "{{data.user.username}}",
          "image" : "{{data.user.avatar}}",
          "description": "{{data.description}}",
          "sku": "{{rev.id}}",
          "offers": "",
          "aggregateRating" : {
              "@type" : "AggregateRating",
            "bestRating" : "10",
            "ratingValue" : {{rev.star_rating}},
            "reviewCount": 1
         },
          "review" : [ {
            "@type" : "Review",
               "author" : {
                    "@type" : "Person",
                    "name" : "{{rev.user.username}}"
               },
               "reviewRating" : {
                   "bestRating" : "10",
                   "@type" : "Rating",
                 "ratingValue" : {{rev.star_rating}}
                },
             "reviewBody" : "{{rev.review}}"
          } ]
    }
</script>
{% endif %}
{% endmacro %}

{% for rev in bot_reviews %}
    <article class="review-root review-section">
        {{ review(rev, loop.index, False) }}
    </article>
{% endfor %}

<div class="text-center">
    <nav aria-label="Bot Review Pagination">
        <ul class="pagination justify-content-center">
            {% if review_page > 1 %}
                <li class="page-item"><a class="page-link white" onclick="getReviewPage(context.rev_page - 1)">Previous</a></li>
            {% endif %}
            {% for page in range(1, total_review_pages + 1) %}
                <li class="page-item {% if review_page == page %}active{% endif %}" id="page-{{page}}"><a class="page-link white" onclick="getReviewPage({{page}})">{{page}}</a></li>
            {% endfor %}
            {% if review_page < total_review_pages %}
                <li class="page-item"><a class="page-link white" onclick="getReviewPage(context.rev_page + 1)">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>