{% extends 'base/macros.html' %}
{% block html %}
<!-- Begin HTML -->
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
<style>
    .dropdown-menu {
        left: auto;
	right: 0;
    }
</style>
<script>
;(function () {
    var src = '//cdn.jsdelivr.net/npm/eruda';
    if (!/eruda=true/.test(window.location) && localStorage.getItem('active-eruda') != 'true') return;
	    document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
	        document.write('<scr' + 'ipt>eruda.init();</scr' + 'ipt>');
		})();
</script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
{% if not botp %}
<!-- Primary Meta Tags -->
<title>Fates List | Discord Bot List</title>
<meta name="title" content="Fates List | Discord Bot List">
<meta name="description" content="Find, invite and discover the best Discord bots, now on Fates List.">
{% else %}
<title>{{data.user.username}}</title>
<meta name="title" content="{{data.user.username}}">
<meta name="description" content="{{data.description}}">
{% endif %}
<meta name="keywords" content="discord bot list, fateslist, fates list, bot list, discord list, list of bost, discord bots, fateslist bots, fates list">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">

{% if not botp %}
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://fateslist.xyz/">
<meta property="og:title" content="Fates List | Discord Bot List">
<meta property="og:description" content="Find, invite and discover the best Discord bots, now on Fates List.">
<meta property="og:image" content="https://fateslist.xyz/static/assets/prod/banner.webp">
{% else %}
<meta property="og:type" content="website">
<meta property="og:url" content="https://fateslist.xyz/bot/{{id}}">
<meta property="og:title" content="{{data.user.username}}">
<meta property="og:description" content="{{data.description}}">
<meta property="og:image" content="{{data.user.avatar}}">
{% endif %}
<!-- Twitter -->
{% if not botp %}
<meta property="twitter:card" content="summary">
<meta property="twitter:url" content="https://fateslist.xyz/">
<meta property="twitter:title" content="Fates List | Discord Bot List">
<meta property="twitter:description" content="Find, invite and discover the best Discord bots, now on Fates List.">
<meta property="twitter:image" content="https://fateslist.xyz/static/assets/prod/banner.webp">
{% else %}
<meta property="twitter:card" content="summary">
<meta property="twitter:url" content="https://fateslist.xyz/">
<meta property="twitter:title" content="{{data.user.username}}">
<meta property="twitter:description" content="{{data.description}}">
<meta property="twitter:image" content="{{data.user.avatar}}">
{% endif %}
<link rel="canonical" href="https://fateslist.xyz{{path}}"/>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    {% block head %}
      
    {% endblock %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Add Material font (Roboto) and Material icon as needed -->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
    <link rel="preconnect" href="https://cdn.jsdelivr.net/" crossorigin>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <!-- Material CSS -->
    <link href="https://cdn.jsdelivr.net/gh/djibe/material@4.6.0-rc.2/css/material.min.css" rel="stylesheet" defer />
    <!-- Base Styles -->
    <link href="/static/assets/prod/base.min.css?v=14" rel="stylesheet">
</head>
<body style="background-color: #1D1E23;">

	<!-- Basic Modal -->
	<div class="modal fade" id="base-modal" tabindex="-1"  aria-labelledby="base-modal-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="base-modal-label">Modal title</h5>
				</div>
				<div id="base-modal-body" class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
<header role="navigation" style="background: black; color: white;" class="navbar fixed-top navbar-full navbar-dark navigation-clean-button" aria-label="Site Navigation Menu">
   <div class="navbar-brand">
	   <a href={% if not server %}"/"{% else %}"/server"{%endif%} class="navbar-brand"><img alt="" style="margin-right: 5px;" width="30px" src="/static/botlisticon.webp"><span class="sr-only">Toggle navigation</span>Fates List</a>
   </div>
   <div class="content-nomobile navbar-nav" style="margin-top: 1px;">
	<li class="nav-item">
		<a class="nav-link" href="/fates/support/invite" style="float: left; text-align: center; margin-top: 2px;">Discord</a>
	  	<a class="nav-link" href="/bot/admin/add" style="float: left; text-align: center; margin-top: 2px;">Add Bot</a>
          	<a class="nav-link" href="/server/admin/add" style="float: left; text-align: center; margin-top: 2px;">Add Server</a>
   	</li>
   </div>
   <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <span class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
	{% if username %}<img alt="{{username}}'s Avatar" width="25px" style="border-radius: 50%; margin-right: 5px;" src="{{avatar}}">{{username}}{% else %}Not Logged In{%endif%}</span>
	<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-333">
	  {% if username %}
	  <a class="dropdown-item" href="/profile/{{user_id}}">My Profile</a>
          <a class="dropdown-item" href="/bot/admin/add">Add Bot</a>
	  <!--<a class="dropdown-item" href="/template/admin/add">Add Server Template</a>-->
	  <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/auth/logout">Logout</a>
          {% else %}
          <a class="dropdown-item" href="/auth/login">Login</a>
          {%endif%}
	  <a class="dropdown-item" href="/admin/console">Admin Console</a>
          <a class="dropdown-item" href="https://apidocs.fateslist.xyz">API Docs</a>
          <a class="dropdown-item" href="/fates/support/invite" target=”_blank”>Support Server</a>
          <a class="dropdown-item" href="/fates/tos">Terms Of Service</a>
         </div>
      </li>
  </ul>
</header>
<body>
    <!-- jQuery, Bootstrap Bundle (includes Popper) and Material -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin></script>
    <script src="https://cdn.jsdelivr.net/gh/djibe/material@4.6.0-rc.2/js/material.min.js"></script>
    <script src="/static/assets/prod/base.min.js?v=1"></script>
    <div style="padding: 2px;">
    	<div class="text-center" id="site-content" style="margin-right: auto;margin-left: auto;margin-top: 60px;">
    		<main>{% block icontent %}{%endblock%}{% block content %}{% endblock %}</main>
	</div>
    </div>    
    <button onclick="topFunction()" id="up-btn" title="Go to top">▲</button>
    <footer>
    </footer>
</div>
</body>
<script>
  var observer = lozad()
  observer.observe('.lozad', {
    enableAutoReload: true // it will reload the new image when validating attributes changes
  });
</script>
</html>
{% endblock %}
