{% extends "base/base.html" %}

{% block head %}

{% endblock %}

{% block icontent %}
	<!-- TOCHeader = Header/Base for index and search -->
    <h2 style="font-weight: bold;font-size: 67px;color: rgba(255,255,255,0.87);">Fates List</h2>
    <p style="font-weight: bold;opacity: 0.82;font-size: 20px;color: rgba(255,255,255,0.87);">{% if type == "bot" %}Find the best bots for your servers.{% elif type == "server" %}Find the best servers personalized based on your interests!{% endif %}</p>
    <div class="is-centered">
    	<form method="GET" action="/search/t">
		<input type="hidden" name="target_type" value="{{type}}" />
		<input type="text" class="form-control fform search" placeholder="Search for {{type}}s (ENTER to search)" name="q" value="{{query}}" aria-label="Search for something.." style="width: 90%">
        </form>
	{% if not profile_search %}
        	<span style="padding: 3px; margin-bottom: 10px; font-size: 14.5px; display: block; font-weight: bold; text-align: center; color: white;">Want to search for profiles? Try <a href="/search/profile" style="opacity: 0.8; color: white;">Profile Search</a></span>
        {% else %}
	<span style="padding: 3px; margin-bottom: 10px; font-size: 14.5px; display: block; font-weight: bold; text-align: center; color: white;">Want to search for bots? Try <a href="/" style="opacity: 0.8; color: white;">Bot Search</a></span>
        {% endif %}
    </div>
   </div>
   <div class="d-flex flex-wrap justify-content-center align-items-center" style="width: 97%;margin: 0 auto;">
	{{ tags(tags_fixed) }}
   </div>
   <p></p>
{% endblock %}
{% block footer %}
{% endblock %}
