.search_wrap {
  width: 85%;
  margin: 38px auto;
  max-width: 600px!important;
}

.search_wrap .search_box {
  position: relative;
  width: 80%!important;
  margin-left: auto!important;
  margin-right: auto!important;
  height: 60px;
}

.search_wrap .search_box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
}

.search_wrap .search_box .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: #7289DA;
  z-index: 1;
  cursor: pointer;
}

.search_wrap .search_box .btn:hover {
  background: #7289DA;
}

.search_wrap .search_box .btn.btn_common .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-49%);
  color: #fff;
  font-size: 20px;
}

.search_wrap.search_wrap_3 .search_box .input {
  padding-right: 80px;
}

.search_wrap.search_wrap_3 .search_box .input {
  border-radius: 50px;
  border: none;
  outline: none;
  box-shadow: none;
}

.search_wrap.search_wrap_3 .search_box .btn {
  right: 0px;
  border-radius: 50%;
}

