{% extends "base/base.html" %}

{% block head %}
	<link rel="stylesheet" href="/static/assets/prod/bot_server.min.css" media="none" onload="if(media!='all')media='all'"/>
<style>
{% if data.banner and data.keep_banner_decor %}
.banner-decor {
  opacity: 0.7;
  background-color: black; 
  border-radius: 15px 15px 15px 15px;
}
{% endif %}
.buttons-all {background-color: black !important;}
.codehilite {background-color: white;}
{{ireplacem(((".alert", ""), ("<style", ""), ("</style", "")), data.css)}}
</style>
{% endblock %}
{% block content %}
	<article class="lozad" data-background-image="{{data.banner}}">
	<div id="{{type}}-content" class="bot-card-banner lozad" data-background-image="{{data.banner}}">
		<div class="d-flex d-xl-flex flex-column align-items-center align-items-xl-center">

			<img style="border-radius: 50%; width: 120px;" class="lozad" data-src="{{data.user.avatar}}"$ id="{{type}}-avatar" alt="{{data.user.username}}'s avatar">
			<a href="/{{type}}/{{id}}/invite" class="white banner-decor"><h3 class="text-center white" style="font-weight: bold;" id="{{type}}-name">{{data.user.username}} <span style="opacity: 0.65;">({{data.prefix}})</span></h3></a>
			{% if type == "bot" %}
				{% if data.state in (enums.BotState.denied, enums.BotState.banned) %}
					<div class="alert alert-danger" style="text-align: center; justify-content: center; color: white !important;" role="alert">
					{% if data.state == enums.BotState.denied %}
						<strong>This bot has been DENIED from this list for being a low-quality bot. Please do not invite it.</strong>	
					{% elif data.state == enums.BotState.banned %}
						<strong>This bot has been BANNED from this bot list for violating our rules or being a low-quality bot. Please do not invite it until further notice!</strong>
					{% endif %}
					{% if admin %}
					<br/><strong>Since you are the owner/extra owners of this bot, you can resubmit your bot or request a ban appeal (if your bot was banned and not denied) by clicking <a class="long-desc-link" href="/bot/{{id}}/appeal">here</a></strong><br/></br>
					<strong>Certain features will be disabled while your bot until you resolve this</strong>
				{% endif %}
				</div>
				{% elif data.state in (enums.BotState.pending, enums.BotState.under_review) %}
				<div class="alert alert-danger" style="text-align: center; justify-content: center; color: white !important;" role="alert">
					<strong>This bot has not yet been verified/approved and may violate our rules and/or be low-quality or a "nuke bot". Please do not invite it until we have approved it. Certain features will be disabled until it has been approved</strong>
				</div>
				{% endif %}
				{% if data.state == enums.BotState.under_review %}
					<div class="alert alert-info" style="text-align: center; justify-content: center; color: white !important;" role="alert">
						<strong>This bot is currently under review now right now and will be approved (or denied) soon! Certain features will be disabled until it has been approved</strong>
					</div>
				{% endif %}
		{% endif %}
	{% if data.nsfw %}
		<div class="alert alert-info" style="text-align: center; justify-content: center; color: white !important;" role="alert">
			<strong>This bot is primarily NSFW (Not Safe For Work), as such lots of functionality will need a NSFW channel. If the bot allows NSFW commands in non-NSFW channels, please report it on our support server</strong>
		</div>
	{% endif %}
	{% if maint[0] %}
		<div class="alert alert-danger" style="text-align: center; justify-content: center; color: white !important;" role="alert">
			<strong>{{maint[1]["reason"]}}</strong>
		</div>
	{% endif %}
	<p class="banner-decor white" style="font-weight: bold; font-size: 18px;" id="{{type}}-description">{{data.description}}</p>
	</div>
	<div class="d-flex justify-content-center align-items-center flex-wrap" style="width: 80%;margin: 0 auto;max-width: 1000px; margin-bottom: 3px !important;" id="{{type}}-buttons">
		{% if data.state not in (enums.BotState.pending, enums.BotState.under_review, enums.BotState.denied, enums.BotState.banned) %}
			<button onclick="voteBot()" class="btn buttons-all vote btn-outline-light" id="buttons-vote" style="color: white !important;">
				<span class="iconify" data-icon="fa-solid:thumbs-up" data-inline="false"></span>
				<span style="margin-left: 3px;">{{human_format(data.votes)}}</span>
			</button>
			<a target=”_blank” href="/{{type}}/{{id}}/invite"><button class="btn btn-outline-light buttons-all" id="buttons-invite">Invite</button></a>
			{% if data.support and data.support.replace(" ", "") %}
				<a target=”_blank” href="{{data.support}}"><button class="btn btn-outline-light buttons-all" id="buttons-support">Support</button></a>
			{% endif %}
			{% if data.donate and data.donate.replace(" ", "") %}
				<a target=”_blank” href="{{data.donate}}"><button class="btn btn-outline-light buttons-all" id="buttons-donate">Donate</button></a>
			{% endif %}
			{% if data.github and data.github.replace(" ", "") %}
				<a target=”_blank” href="{{data.github}}"><button class="btn btn-outline-light buttons-all" id="buttons-github">Github</button></a>
			{% endif %}
			{% if data.privacy_policy %}
				<a target="_blank" href="{{data.privacy_policy}}"><button class="btn btn-outline-light buttons-all" id="buttons-privacy">Privacy Policy</button></a>
			{% endif %}
			{% if data.website %}
				<a target=”_blank” href="{{data.website}}"><button class="btn btn-outline-light buttons-all" id="buttons-website">Website</button></a>
			{% endif %}
		{% endif %}
		{% if admin %}
			<a href="/{{type}}/{{id}}/settings"><button class="btn btn-outline-light buttons-all" id="buttons-settings">Settings</button></a>
		{% endif %}
	</div>
	<div style="display: inline-block; width: fit-content; height: fit-content; margin: 7px; padding: 7px;" class="key-container">
		<section id="tags">
			<div style="text-align: center; margin-top: 9px;" id="tags-container">
				<div class="d-flex flex-wrap justify-content-center align-items-center" style="width: 93%; margin: 0 auto;" id="tags-container-inner">
					{{ tags(tags_fixed) }}
				</div>
			</div>
		</section>
		{% if promos != [] or admin %}
			<div id="{{type}}-promo" style="margin-top: 30px;">
				<h5 class="text-center" style="color: rgba(255,255,255,0.87);font-weight: bold;margin-top: -13px;margin-bottom: 3px;" id="{{type}}-promo-header">Promotions, Announcements and More!</h5>
				{% if admin %}
					<a href="javascript:void()" onclick="newPromotion('{{data.api_token}}')" style="color: white !important; opacity: 0.8;"><span class="iconify" data-icon="fa-solid:plus" data-inline="false"></span><span style="margin-left: 3px">New Promotion (Coming Soon)</span></a>
				{% endif %}
			{% endif %}
			{% for promo in promos %}
				<div class="alert alert-primary" id="{{type}}-promo-container-{{loop.index}}" class="{{type}}-promo-container" role="alert" style='width: 90%; font-weight: bold; margin: 0 auto; height: 86%; padding: 5px; {% if not promo.css %}background-color: #111112; {%endif%} {{promo.css}} margin-bottom: 3px;'>
					<p style="color: white; margin-bottom: 3px; margin-left: 2px; {{promo.css}}">{{promo.title.replace("<script", "")|safe}}</p>
					<p style="color: white; {{promo.css}}">{{promo.info}}</p>
				</div>
			{% endfor %}
	    	</div>
	</div>
	<div id="switcher" style='margin-bottom: 3px;' class='blackbar'>
		<div class="tab">
			  <button id="long-desc-tab-button" class="tablinks" onclick="openf(event, 'long-description', this, true)">Description</button>
			  <button id="review-tab-button" class="tablinks" onclick="openf(event, 'reviews', this, false)">Reviews</button>
			  {% if type == "bot" %}
			  <button id="commands-tab-button" class="tablinks coming-soon" onclick="openf(event, 'commands', this, false)">Commands</button>
			  {% endif %}
			  <button id="about-tab-button" class="tablinks" onclick="openf(event, 'about', this, false)">About</button>
		</div>
		<section id="long-description-tab" class='tabcontent'>
			<div id="long-description" style="color: white; text-align: left; margin-left: 5%; margin-right: 5%; margin-top: 13px;"> {% if data.long_description_type in (enums.LongDescType.html, enums.LongDescType.markdown_pymarkdown) %}{{data.long_description|safe}}{% endif %}</div> <!-- To avoid users seeing broken pages, don't add to site is markdown is used -->
			{% if data.long_description_type == enums.LongDescType.markdown_marked %}
       				<!-- Handle markdown -->
				<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
				<pre style="display: none" id="marked-ld">{{data.long_description|safe}}</pre>
				<script>
					replace_list = {{context.replace_list|tojson}}
					String.prototype.replaceAll = function(strReplace, strWith) {
						// See http://stackoverflow.com/a/3561711/556609
						var esc = strReplace.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
						var reg = new RegExp(esc, 'ig');
						return this.replace(reg, strWith);
					}
					String.prototype.replacem = function(replaceList) {
						var new_str = this
						for(var i = 0; i < replaceList.length; i++) {
							new_str = new_str.replaceAll(replaceList[i][0], replaceList[i][1])
						}
						return new_str;
					}
					var md = marked(document.querySelector("#marked-ld").innerHTML).replacem(replace_list)
					document.querySelector("#long-description").innerHTML = md;
				</script>
			{% endif %}
		</section>
		<section id="reviews-tab" class='tabcontent'>
			<h6 style="font-size: 18px;" class="white">Bot Reviews</h6>
			{% if username %}
					<label for="rating">On a scale of 1 to 10, how much did you like this {{type}}?</label><br/>
					<input class='slider range-slider' type="range" id="star_rating" min="0.1" max="10" style="width: 100%" value='5' step='0.1' output="rating-desc"/>
					<p id='rating-desc' style="color: white;"></p>
					<label for="review">Please write a few words about the bot (in your opinion)</label>
					<textarea id='review' type="text" class="form-control fform" style="min-height: 100px; height: 100px;" required minlength="9" placeholder="This bot is a really good bot because of X, Y and Z however...">{{review_desc}}</textarea>
					<button onclick="newReview(false, null)" class="btn btn-outline-light">Review</button>
			{% else %}
       				<p class="white">You need to be logged in to make reviews</p>
			{% endif %}
			<hr class="hr-is">
			{% if total_reviews %}
				<span style="font-size: 18px;" class="white">Showing reviews {{(review_page-1)*per_page + 1}} to {{(review_page-1)*per_page + bot_reviews.__len__()}} of {{total_reviews}} total reviews</span><br/>
			{% endif %}
			<label for="rating-avg" style="font-size: 18px;" class="white">Average Rating: <i class='iconify' data-icon='fa-solid:star' data-inline='true' style="margin-right: 3px; margin-bottom: 1px;"></i>{{average_rating}}/10.0</label><br/>
			<span class="white">
				<input disabled id="rating-avg" class='slider' type="range" name="rating" min="0.1" max="10" value='{{average_rating}}' style="width: 100%" step='0.1' tabindex="-1"/>
				<p id="rating-desc-avg"></p>
			</span>
			<div style="text-align: left;">
				{% macro review(rev, index) %}
				<div class="review-user" style="margin-left: 3%; border: solid;">
		   			<div class="review-left" style="margin-bottom: 23px">
						<div class="review-header" style="margin-bottom: 7px; font-weight: bold;">
							<a href='/profile/{{rev.user_id}}' class="white">
								<img style="border-radius: 50%; width: 24px;" data-src="{{rev.user.avatar.replace('.gif', '.webp')}}" class="lozad review-avatar" alt="{{rev.user.username}}'s avatar">
								<span class="white">{{rev.user.username}}</span>
							</a>
							<span style="margin-right: 6px"></span>
							<span class='iconify white' style="margin-right: 3px;" data-icon='fa-solid:angle-up' onclick="voteReview('{{rev.id}}', true)" data-inline='false'></span>
							<span class="white">{{rev.review_upvotes.__len__() - rev.review_downvotes.__len__()}}</span>
							<span class='iconify white' onclick="voteReview('{{rev.id}}', false)" style="margin-left: 3px; margin-right: 3px;" data-icon='fa-solid:angle-down' data-inline='false'></span>
							<span class="white" style="font-weight: bold">
								<span class='iconify' style="margin-right: 3px; margin-bottom: 1px;" data-icon='fa-solid:star'></span>
								<span>{{rev.star_rating}}/10.0</span>
							</span>
							{% if username %}
							<a class="long-desc-link" style="color: white !important" href="javascript:void(0)" onclick="replyReview(this, '{{rev.id}}')">
				  				<span class="white" style="margin-left: 3px;">Reply</span>
							</a>
							{% endif %}
							{% if user_id == rev.user_id or staff[0] %}
								<a href='javascript:void(0)' style='font-weight: bold; margin-left: 3px;' class="long-desc-link" onclick="botReviewEditPane(this, '{{rev.id}}')">Edit</a>
							{% endif %}
							</div>
							<span style="margin-left: 30px !important; color: white" id="review_text-{{rev.id}}">{{rev.review}}</span>
							{% if username %}
							<section id="reviewreply-{{rev.id}}" style="display: none; width: 100%;" class="white">
								<label for="rating">On a scale of 1 to 10, how much did you like this bot?</label><br/>
								<input class='slider range-slider' id="star_rating-{{rev.id}}" type="range" min="0.1" max="10" step='0.1' style="width:100%;" output="rating-reply-desc-{{rev.id}}-{{index}}"/>
								<p id='rating-reply-desc-{{rev.id}}-{{index}}' style="color: white;"></p>
								<label for="review">Please write a few words about the bot (in your opinion)</label>
								<textarea id='review-{{rev.id}}' type="text" class="form-control fform" style="min-height: 100px; height: 100px;" required minlength="9" placeholder="This bot is a really good bot because of X, Y and Z however..."></textarea>
								<button onclick="newReview(true, '{{rev.id}}')" class="btn btn-outline-light">Reply</button>
							</section>
							{% endif %}
							{% if user_id == rev.user_id or staff[0] %}
								<div id="reviewopt-{{rev.id}}" style="display: none; width: 100%; margin-bottom: 10px;">
       								<section id="reviewedit-{{rev.id}}" style="width: 100%;" class="white">
									<input type="hidden" name="id" value="{{rev.id}}" /> <!-- The ID to update -->
									<label for="rating">On a scale of 1 to 10, how much did you like this bot?</label><br/>
									<input class='slider range-slider' type="range" name="rating" min="0.1" max="10" value='{{rev.star_rating}}' step='0.1' style="width:100%;" output="rating-desc-{{rev.id}}-{{index}}"/>
									<strong><p id='rating-desc-{{rev.id}}-{{index}}' style="color: white;"></p></strong>
									<label for="review">Please write a few words about the bot (in your opinion)</label>
									<textarea id='rating-review' name="review" type="text" class="form-control fform" style="min-height: 100px; height: 100px;" required minlength="9" placeholder="This bot is a really good bot because of X, Y and Z however...">{{rev.review}}</textarea>
									<button onclick="editReview('{{rev.id}}')" class="btn btn-outline-light" style="float: left; margin-right: 10px">Edit</button>
								</section>
								<button class="btn btn-danger" onclick="deleteReview('{{rev.id}}')">Delete</button>
								</div>
							{% endif %}
						</div>
					<div style="margin-left: 17px">
						{% for rep in rev.replies %}
       							{{ review(rep, loop.index) }}
						{% endfor %}
					</div>
				</div>
				{% if index < 3 %}
		   		<script type="application/ld+json">
			    		{
				  		"@context" : "http://schema.org",
				 		"@type" : "Product",
				  		"name" : "{{data.user.username}}",
				  		"image" : "{{data.user.avatar}}",
				  		"description": "{{data.description}}",
				  		"sku": "{{rev.id}}",
				  		"offers": "",
				  		"aggregateRating" : {
				  			"@type" : "AggregateRating",
							"bestRating" : "10",
							"ratingValue" : {{rev.star_rating}},
							"reviewCount": 1
				 		},
			  			"review" : [ {
							"@type" : "Review",
				   			"author" : {
					    			"@type" : "Person",
					    			"name" : "{{rev.user.username}}"
				   			},
				   			"reviewRating" : {
					   			"bestRating" : "10",
					   			"@type" : "Rating",
							 	"ratingValue" : {{rev.star_rating}}
				    			},
				 			"reviewBody" : "{{rev.review}}"
				  		} ]
					}
				</script>
				{% endif %}
			{% endmacro %}
		    <p class="white text-center" id="rendering">Rendering Reviews</p>
		    <article id="defer" hidden style="display: none:">
			    {% for rev in bot_reviews %}
			    <section class="review-root review-section">
				    {{ review(rev, loop.index) }}
			    </section>
		    	    {% endfor %}
		    <div class="text-center">
			<nav aria-label="Bot Review Pagination">
				<ul class="pagination justify-content-center">
					{% if review_page > 1 %}
						<li class="page-item"><a class="page-link white" href="{{site_url}}/{{type}}/{{id}}?rev_page={{review_page - 1}}#review-tab-button-fl">Previous</a></li>
					{% endif %}
					{% for page in range(1, total_review_pages + 1) %}
						<li class="page-item {% if review_page == page %}active{% endif %}"><a class="page-link white" href="{{site_url}}/{{type}}/{{id}}?rev_page={{page}}#review-tab-button-fl">{{page}}</a></li>
					{% endfor %}
					{% if review_page < total_review_pages %}
						<li class="page-item"><a class="page-link white" href="{{site_url}}/{{type}}/{{id}}?rev_page={{review_page + 1}}#review-tab-button-fl">Next</a></li>
					{% endif %}
				</ul>
			</nav>
		    </div>
		    </article>
		    <script defer>
			function hideRenderMsg() {
			    document.querySelector("#rendering").style.display = "none";
			}
			function asyncReviewLoader() {
			    $("#defer").removeAttr("hidden");
			    document.querySelector("#defer").style.display = "block";
			    setTimeout(hideRenderMsg, 500)
			}
			$(document).ready(function(){
				setTimeout(asyncReviewLoader, 300);
			});
		    </script>
		</div>
	</section>
	{% if type == "bot" %}
	<section id="commands-tab" class="tabcontent white">
		<p style="font-size: 30px;" id="commands-error">Getting Commands...</p>
	{% endif %}
	</section>
	<section id="about-tab" class='tabcontent white'>
		<table style="margin: 0 auto !important;">
			<tr>
				<th>Owners</th>
				<td>{{data.owners_html|safe}}</td>
			</tr>
			<tr>
				<th>Prefix</th>
				<td>{{data.prefix}}</td>
			</tr>
			<tr>
				<th>Library</th>
				<td>{{data.library.lower()}}</td>
			</tr>
			<tr>
				<th>Servers</th>
				<td>{{data.guild_count}}</td>
			</tr>
			<tr>
				<th>Shards</th>
				<td>{{data.shard_count}}</td>
			</tr>
			<tr>
				<th>Invites</th>
				<td>{{data.invite_amount}}</td>
			</tr>
			<tr>
				<th>Vote Page</th>
				<td><a class='long-desc-link' href="/{{type}}/{{id}}/vote">Click/Copy Me!</a></td>
			</tr>
			{% if data.features %}
				<tr>
					<th>Features</th>
					<td>{{data.features|safe}}</td>
				</tr>
			{% endif %}
		</table>
	</section>
</div>	
<script>
	var context = {{ context|tojson }}
	context.default_tab_button = "long-desc-tab-button"
</script>
<script src="/static/assets/prod/tabs.min.js?v=1"></script>
<script src="/static/assets/prod/bot_server.min.js?v=16"></script>
<script src="/static/assets/prod/vote.min.js?v=1"></script>
</div>
</article>
{% endblock %} 
{% block footer %} 
{% endblock %}
