{% extends "base/base.html" %}

{# Set some global variables for the form handling in js to easily serialize it #}
{% set form_values_text = [] %}
{% set form_values_select_single = [] %}
{% set form_values_select_multiple = [] %}
{% set actions = False %}


{% macro tip(text) %}
	<div class="d-inline-block white alert alert-info tip" role="alert">
		<span class="iconify" data-icon="foundation:lightbulb" data-inline="false" data-height="1.5em"></span>{{text}}
	</div>
{% endmacro %}
{% macro optional() %}
	{{ tip("Everything in this section is completely optional") }}
{% endmacro %}


{% macro save() %}
	<section id="save-changes">
		<br/>
		<p class="white info-content">Once you feel like your bot is as good as it can be, click the {{context.mode.title()}} button to save your changes. Make sure that you have previewed your long description beforehand if possible (marked is not yet supported by previews yet) and that you have read our <a class="long-desc-link" href="/fates/rules">rules</a> before {{context.mode}}ing.</p>
		<button class="btn btn-outline-light btn-save" onclick="submitBot()">{{context.mode}}</button>
		<p style="margin-bottom: 20px"></p>
	</section>
{% endmacro %}
{% macro textInput(label, id, placeholder, min=None, max=None, required=False, type="text", textarea=False, in_form=True) %}
	{% set val = bot[id] if context.mode == "edit" and bot.get(id) else '' %}
	{% if in_form %}
		{% set _ = form_values_text.append(id) %}
	{% endif %}
	<div>
	<label for="{{id}}">{{label}} {% if required %}<span style="color: red; font-weight: bold" aria-hidden="true">*</span>{% endif %}</label>
	<{{"textarea" if textarea else "input"}}
	  class="form-control fform text-input" 
       	  placeholder="{{placeholder}}" 
	  type="{{type}}" 
	  name="{{id}}"
	  id="{{id}}"
	  {% if required %}required{% endif %}
	  {% if min %}minlength="{{min}}"{% endif %}
	  {% if max %}maxlength="{{max}}"{% endif %} 
	  {% if not textarea %}value="{{ val }}"{% endif %}>{% if textarea %}{{val}}{% endif %}</{{"textarea" if textarea else "input"}}>
	 </div>
{% endmacro %}
{% macro selectInput(id, label, help_text, choices, multiple=False, required=False, in_form=True) %}
	{% if in_form %}
		{% if multiple %}
			{% set _ = form_values_select_multiple.append(id) %}
		{% else %}
			{% set _ = form_values_select_single.append(id) %}
		{% endif %}
	{% endif %}
	<label for="{{id}}">{{label}} {% if required %}<span style="color: red; font-weight: bold" aria-hidden="true">*</span>{% endif %}</label>
	<div class="fform">
		<select-pure class="select-pure-fl" id="{{id}}" name="{{id}}" default-label="{{help_text}}" {% if multiple %}multiple{% endif %} {% if required %} required {% endif %}>
		<option-pure value="" disabled="" hidden="">{{help_text}}</option-pure>
		{% for choice in choices %}
			{% if choice.value in ("true", "false") %}
				{% set value = (choice.value == "true") %}
			{% else %}
				{% set value = choice.value %}
			{% endif %}
			<option-pure 
			  value="{{choice.value}}"
			  {% if (context.mode == "add" and choice.default) or ((context.mode == "edit" and id in bot.keys()) and ((not multiple and bot[id] == value) or (multiple and value in bot[id]))) %}selected{% endif %}
			>{{choice.text}}</option-pure>
		{% endfor %}
	</select-pure>
	</div>
{% endmacro %}
{% macro tab(id, default=False, name=None) %}
	<button id="{{id}}-button" class="tablinks" onclick="openf(event, '{{id}}', this, {{1 if default else 0}}, hideSaveOnAboutTab)">{{name if name else id.title() }}</button>
{% endmacro %}


{% block head %}
	<link rel="stylesheet" href="/static/assets/prod/bot_server.min.css" media="none" onload="if(media!='all')media='all'"/>
	<style>
		#api-token {word-wrap: break-word; background-color: black;}
		#api-button {margin-top: 7px;}
		.section {margin-top: 20px;}
		.info-content {text-align: left; margin-left: 30px;}
		.text-input {border-radius: 4px 4px 4px 4px !important;}
	</style>
{% endblock %}

{% block content %}
	{% if context.mode == "edit" %}
		<img style="border-radius: 50%; width: 120px;" class="lozad" data-src="{{bot.user.avatar}}" id="bot-avatar" alt="{{bot.user.username}}'s avatar">
	{% else %}
		<img style="border-radius: 50%; width: 120px;" class="lozad" data-src="/static/botlisticon.webp" id="bot-avatar" alt="Fates List Logo">
	{% endif %}
	<h4 class="white">{% if context.mode == "add" %}Fates List{% else %}{{bot.user.username}}{% endif %}</h4>
	<h5 class="white" style="opacity: 0.8; margin-bottom: 30px;">{% if context.mode == "add" %}Welcome!{% else %}Bot Settings{% endif %}</h5>
	<div id="parent">
		<div id="switcher" style='margin-bottom: 3px;' class='blackbar'>
			<div class="tab">
				{% if context.mode == "edit" %}
					{{ tab("about", default=True) }}
				{% endif %}
				{{ tab("basic-settings", name="Basics", default=True if context.mode == "add" else False) }}
				{{ tab("webhook", name="Webhooks") }}
				{{ tab("links", name="Links") }}
				{{ tab("extras", name="Extras") }}
			</div>
			{% if context.mode == "edit" %}
			<section id="about-tab" class="tabcontent">
				<h5 class="white">Bot Info</h5>
				<div class="info-content">	
					<p class="white">Username: {{bot.user.username}}</p>
					<p class="white">Bot State: {{enums.BotState(bot.state).__doc__}} ({{bot.state}})</p>
					<p class="white"><u>Owners of this bot</u><br/> {{context.owners_html|safe}}</p>
				</div>
				<h5 class="white">Actions Needed</h5>
				<div class="info-content">
					{% if bot.state in (enums.BotState.denied, enums.BotState.banned) %}
						{% set actions = True %}
						<h6 class="white section">Bot Appeal</h6>
                        			<p class="white">
							Did you fix the issues you were asked to fix? <br/>
							Do you feel like your bot was denied for a wrong reason? Mention your reasoning here!
						</p>
					{% endif %}
					{% if not actions %}
						<p class="white">No actions needed for your bot</p>
					{% endif %}
				</div>
				<h5 class="white">API Token</h5>
				<code class="white" id="api-token">Click 'Show' to see your bots token</code>
				<br/>
				<button id="api-button" class="btn btn-outline-light" onclick="showToken(this)">Show</button>
				<h6 class="white section" id="regen-token-header">Regenerate</h6>
				<p class="white"><em>Accidentally</em> leaked your API token? Just be sure to change the token everywhere you use it and make sure it doesn't happen again!</p>
				<button onclick='regenToken()' class="btn btn-outline-light">Regenerate</button>
				<h5 class="white section">Server Stats</h5>
				<br/>
				{{ textInput(
					"Server Count",
					"server-count",
					"Server count of your bot",
					in_form=False
				) }}
				<button class="section btn btn-outline-light" onclick='postStats()'>Post</button>
				<h5 class="white section">Transfer Ownership</h5>
				<p class="white"><span class="red">Warning:</span> This <em>cannot</em> be undone. Only transfer ownership to people you trust. <br/>By continuing, you acknowledge that the user you are transferring ownership to will now completely control this bot on Fates List.</p>
				{{ textInput(
					"New Owner",
					"new-owner",
					"Enter the ID of the new owner. This ID must already be a extra owner first!",
					in_form=False
				) }}
				<button class="btn btn-danger" onclick="transferBot()">Transfer Ownership</button>
				<h5 class="white section">Delete Bot</h5>
				<p class="white"><span class="red">Warning:</span> This <em>cannot</em> be undone and you <em>will</em> lose any perks your bot may have such as certification and any votes your bot may have. Think twice before proceeding...</p>
				<button class="btn btn-danger" onclick="deleteBot()">Delete Bot</button>
			</section>
			{% endif %}
			<section id="basic-settings-tab" class="tabcontent">
				{{ tip("This is the only section you need to fill out to add or edit your bot") }}
				<br/>
				{% if context.mode == "add" %}
					{{ textInput(
						"Bot ID", 
						"bot_id", 
						"Enter Bot ID here", 
						required=True,
						type="number"
					) }}
				{% endif %}
				{{ textInput(
					"Extra Owners (comma seperated)", 
					"extra_owners", 
					"790722073248661525, 563808552288780322"
				) }}
				{{ textInput("Prefix", "prefix", "$, ! etc.", max=9, required=True) }}
				{{ textInput("Library", "library", "discord.py etc.", required=True) }}
				{{ textInput("Vanity", "vanity", "mybot, fateslist etc. Prefix with _ to disable", required=true) }}
				{{ tip("You can use P:PERM_NUMBER (or just leave this blank) if the Bot ID and Client ID are the same (almost always true except for old bots)") }}
				{{ textInput(
					"Invite URL (Leave blank for automatic)", 
					"invite", 
					"https://discord.com/api/oauth2/..."
				) }}
				{{ textInput("Short Description", "description", "Fates List is a great bot that does everything you need it to do!", min=10, max=105, required=True) }}
				{{ selectInput(
					"tags",
					"Tags",
					"Select tags for your bot",
					context.tags,
					multiple=True,
					required=True
				) }}
				{{ selectInput(
					"features",
					"Features",
					"Select any features your bot has (optional)",
					context.features,
					multiple=True
				) }}
				
				{{ selectInput(
					"long_description_type", 
					"Long Description Type/Format", 
					"Choose your long description type", 
					(
						{
							"value": enums.LongDescType.html.value, 
							"text": "HTML",
							"default": True
						}, 
						{
							"value": enums.LongDescType.markdown_pymarkdown.value, 
							"text": "Markdown (python-markdown)"
						}, 
						{
							"value": enums.LongDescType.markdown_marked.value, 
							"text": "Markdown (marked)"
						}
					),
					required=True
				) }}
				{{ textInput(
					"Long Description", 
					"long_description", 
					"Write over 300 characters for your long description. Trying to put a placeholder to bypass this limit will get your bot denied or banned if found out!", 
					required=True, 
					textarea=True
				) }}
				{{ selectInput(
					"nsfw",
					"NSFW Bot?",
					"Is your bot NSFW?",
					(
						{
							"value": "true",
							"text": "Yes"
						},
						{
							"value": "false",
							"text": "No",
							"default": True
						},
					),
					required=True
				) }}
			</section>
			<section id="links-tab" class="tabcontent">
				{{ optional() }}
				{{ textInput(
					"Website",
					"website",
					"https://mysite.com"
				) }}
				{{ textInput(
					"Github",
					"github",
					"https://github.com/..."
				) }}
				{{ textInput(
					"Privacy Policy URL",
					"privacy_policy",
					"https://myprivacypolicy.com"
				) }}
				{{ textInput(
					"Support Server",
					"support",
					"https://discord.gg/supportserver"
				) }}
				{{ textInput(
					"Donate URL (Patreon/Paypal.me/Buymeacoffee)",
					"donate",
					"https://patreon.com/..."
				) }}
			</section>
			<section id="webhook-tab" class="tabcontent">
				{{ optional() }}
				<p class="white info-content">Webhooks provide a fast and secure way for your bot to recieve events from Fates List such as voting and much more. More information about this is available on our <a class="long-desc-link" href="https://apidocs.fateslist.xyz">API Documentation</a>. This option does require you to have a server that can recieve the webhooks and you may need to port forward or open your firewall if your server has one. Note that the IP address for Fates List keeps changing.</p>
				{{ selectInput(
					"webhook_type",
					"Webhook Type",
					"Select the webhook type",
					(
						{
							"value": enums.WebhookType.vote.value,
							"text": enums.WebhookType.vote.__doc__,
							"default": True
						},
						{
							"value": enums.WebhookType.discord.value,
							"text": enums.WebhookType.discord.__doc__
						},
						{
							"value": enums.WebhookType.fc.value,
							"text": enums.WebhookType.fc.__doc__
						}
					)
				) }}
				{{ textInput(
					"Webhook URL",
					"webhook",
					"https://vote.mysite.com/fates"
				) }}
				{{ tip("API Token is used as the webhook secret if you do not set a webhook secret below. It is recommended to use that unless you need a specific webhook secret to be used by Fates List or you need extra security that cannot be provided using your bots token.") }}
				{{ textInput(
					"Webhook Secret",
					"webhook_secret",
					"Make sure that this is random and secure!"
				) }}
				<p class="white info-content">Want to test your webhook? First make sure that <em>you have saved your changes first</em> and then click 'Test Webhook' to see if your bots webhook works!</p>
				<button class="btn btn-outline-light" style="margin-bottom: 10px;" onclick="testHook()">Test Webhook</button>
				{{ tip("Didn't get anything? Make sure you have saved your bot first before clicking Test Webhook. Also check your firewall and network settings as well") }}
			</section>
			<section id="extras-tab" class="tabcontent">
				{{ optional() }}
				<p class="white info-content">Banners allow you to make your bot page look better and more higher quality. There are two banners you can set: one for your bots card and one for your bots page. The banner URL you post here must give a content type of image/**** when a HEAD or a GET request is sent to them (most image services do this). Banner pages also has a 'Keep Banner Decorations/Artifacts' option for some banners that don't work well without it however this does look a bit ugly and so should be disabled if possible</p>
				{{ selectInput(
					"keep_banner_decor",
					"Keep Banner Decorations/Artifacts",
					"Try to make your banner not need this!",
					(
						{
							"value": "true",
							"text": "Yes",
							"default": True
						},
						{
							"value": "false",
							"text": "No"
						}
					)
				) }}
				{{ textInput(
					"Banner URL for bot card",
					"banner_card",
					"Banner URL here"
				) }}
				{{ textInput(
					"Banner URL for bot page",
					"banner_page",
					"Banner URL here"
				) }}
				{{ tip("Custom CSS is a great way to help improve your bots growth along with banners and vote rewards using Webhooks!") }}
				{{ textInput(
					"Custom CSS",
					"css",
					"See w3schools if you need a tutorial on CSS. See our API Documentation for more informatiom about what CSS Fates List has and allows! Have fun :)",
					textarea=True
				) }}
			</section>
		</div>
	</div>
	{{ save() }}	
	<!-- Javascript here -->
	<script>
		var context = {{context|tojson}}
		context.default_tab_button = "{% if context.mode == 'add' %}basic-settings-button{% else %}about-button{% endif %}"
		context.form_values = {
			text: {{form_values_text|tojson}},
			select_single: {{form_values_select_single|tojson}},
			select_multiple: {{form_values_select_multiple|tojson}}
		}
	</script>
	<script src="/static/assets/prod/bot_add_edit.min.js?v=16"></script>
	<script src="/static/assets/prod/tabs.min.js?v=3" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/select-pure@latest/dist/index.js"></script>
{% endblock %}
{% block footer %}

{% endblock %}
