{% extends "base/base.html" %} 
{% block head %}

{% endblock %} 

{% block content %} 
	<h2 class="white">Our Partners</h2>
	<center>
	{% for i in partners.partners if i.owner %}
	<div style="width: 90%">
		<table style="box-shadow: 5px 5px 5px 5px {{i.shadow or "#002963"}}; margin-left: 0px; margin-bottom: 25px; width: 100%">
  			<tr>
				<td><img src="{{ i.image }}" loading="lazy" width="150px" style="margin-left: 0px" /></td>
				<td style="padding: 5px; margin-left: 0px;">
      					<a title="{{ i.name }}" href="{{ i.links.website }}" target="_blank" rel="noopener">
						<h3 class="white"><strong>{{ i.name }}</strong></h3>
					</a>	
					<h5 class="white">{{ i.description|safe }}</h5>
					{% for k, v in i.links.items() %}
						<a class="white" title="{{ i.name }} {{k.title()}}" href="{{ v }}" target="_blank" rel="noopener">
							<span class="iconify" data-icon="{{partners.icons[k]}}" style="font-size: 40px"></span>
						</a>
					{% endfor %}		
				</td>
			</tr>
		</table>
	</div>
	{% endfor %}
	</center>
{% endblock %} 

{% block footer %} 

{% endblock %}
