{% extends "base/base.html" %} 
{% block head %}

{% endblock %} 

{% block content %} 
	<h2 class="white">Our Partners</h2>
	{% for i in partners.partners if i.owner %}
	<center>
		<table style="box-shadow: 5px 5px 5px 5px {{i.shadow or "#002963"}}; text-align: left; padding: 3px; margin-bottom: 25px; min-width: 90%; max-width: 90%;">
  			<tr>
				<td><img src="{{ i.image }}" loading="lazy" width="150px" style="padding: 5px" /></td>
				<td style="padding: 5px">
      					<a title="{{ i.name.title() }}" href="{{ i.links.website }}" target="_blank">
						<h3 class="white"><strong>{{ i.name.title().replace("~", "") }}</strong></h3>
					</a>	
					<h5 class="white">{{ i.description|safe }}</h5>
					{% for k, v in i.links.items() %}
						<a class="white" title="{{ i.name.title().replace("~", "") }} {{k.title()}}" href="{{ v }}" target="_blank">
							<span class="iconify" data-icon="{{partners.icons[k]}}" style="font-size: 40px"></span>
						</a>
					{% endfor %}		
				</td>
			</tr>
		</table>
	</center>
	{% endfor %} 
{% endblock %} 

{% block footer %} 

{% endblock %}
