{% extends "base/base.html" %}

{% block head %}
<style>
.ppcontent {
  text-align: left;
  margin-left: 20px;
  color: white;
}

.pptitle {
  color: white;
  margin-top: 100px;
}
</style>
{% endblock %}

{% block content %}
  {% for key, value in policy.items() %}
    <h3 class="pptitle">{{key.replace("_", " ").title()}}</h3>
    {% for section, rules in value.items() %}
      <h4 class="white">{{section.replace("_", " ").title()}}</h4>
      {% for rule in rules %}
        <p class="ppcontent">{{loop.index}}. {{md(rule).replace("<p>", "").replace("</p>", "")|safe}}</p>
      {% endfor %}  
    {% endfor %}
  {% endfor %}
{% endblock %}
{% block footer %}

{% endblock %}

