{% extends "base/tocheader.html" %}

{% block head %}

{% endblock %}

{% block content %}
    <hr style="font-size: 20px;border-top-width: 1px;border-top-color: #eee;width: 90%;">
    <div class="d-flex" style="margin-left: 5%;"><span class="iconify white" data-icon="fa-solid:search" data-inline="false" data-height="3em"></span>
        <h4 class="white" style="margin-left: 15px;">Search Results</h4>
    </div>
    {% if search_bots == [] %}
    <div class="index-fl">
    {% else %}
    <div class="index-fl" style="color: #111112 !important;">
    {% endif %}
    <div class="d-flex flex-wrap justify-content-sm-center align-items-sm-center justify-content-md-center justify-content-lg-center" id="tt-1" style="width: 90%;margin: 30px 5%;">
	{% if profile_search %}
		{% set data = profiles %}
	{% else %}
		{% set data = search_bots %}
	{% endif %}
	{% if data == [] %}
		<h4 class="text-nowrap text-break text-center white" style="font-weight: bold;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">No {{type.title()}} Found</h4>
	{% endif %}
        {% for obj in data %}
		{{ flCard(obj, False, type) }}
	{% endfor %}
    </div>
    </div>
{% endblock %}
{% block footer %}

{% endblock %}
