{% extends "base/base.html" %}

{% block head %}
<style>
.ppcontent {
  text-align: left;
  margin-left: 20px;
  color: white;
}

.pptitle {
  color: white;
  margin-top: 100px;
}
</style>
{% endblock %}

{% block content %}
<h3 class="pptitle">Terms Of Service</h3>
  {% for tos_entry in policy.tos %}
    <p class="ppcontent">{{loop.index}}. {{tos_entry}}</p>
  {% endfor %}
<h3 class="pptitle">Data Policies</h3>
  {% for key, value in policy.data.items() %}
    <h4 class="white">{{key.replace("_", " ").title()}}</h4>
      <p class="ppcontent">{{value}}</p>
  {% endfor %}
<h3 class="pptitle">More Information</h3>
{% for key, value in policy.extras.items() %}
  <h4 class="white">{{key.replace("_", " ").title()}}</h4>
    <p class="ppcontent">{{value}}</p>
{% endfor %}
{% endblock %}
{% block footer %}

{% endblock %}

