{% extends "base/base.html" %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center">

	<img style="border-radius: 50%; width: 120px;" src="{{bot.avatar}}">
        <h3 class="text-center" style="color: rgba(255,255,255,0.87);font-weight: bold;">{{bot.username}}</h3>
	{% if bot.state == enums.BotState.denied %}
        	<div class="alert alert-danger" style="text-align: center; justify-content: center; color: white !important;" role="alert">
        		<strong>This bot has been reviewed and denied by our staff team because it didn' meet our standards. Please do not invite it.</strong>
		</div>
	{% elif bot.state == enums.BotState.banned %}
		<div class="alert alert-danger" style="text-align: center; justify-content: center; color: white !important;" role="alert">
			<strong>This bot has been banned from FatesList for violating our rules. Please do not invite it.</strong>
		</div>
	{% elif bot.queue_state == enums.BotState.pending %}
        	<div class="alert alert-danger" style="text-align: center; justify-content: center; color: white !important;" role="alert">
        		<strong>This bot hasn't been reviewed by our staff team yet and may violate our rules or be a low-quality bot. Please do not invite it yet</strong>
		</div>
	{% endif %}
	<h3 style="margin 0 auto; color: white;font-weight: bold; font-size: 20px;">Please vote for {{bot.username}} now!</h3>
    </div>
     <div class="d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center">    
		<button onclick="voteBot()" class="btn btn-lg btn-outline-light" style="color: white !important;">
			<span class="iconify" data-icon="fa-solid:thumbs-up" data-inline="false"></span><span style="margin-left: 3px;">{{human_format(bot.votes)}}</span>
		</button>
       </div>
        <h3 style="margin 0 auto; color: white;font-weight: bold; font-size: 20px;"><span style="color: red;">Warning:</span> You can only vote for one bot every 8 hours, so vote wisely</h3>
	<script>
		var context = {{context|tojson}}
	</script>
        <script src="https://fateslist.xyz/static/assets/prod/vote.min.js?v=8"></script>
{% endblock %} 
{% block footer %} 
{% endblock %}
