{% extends "base/base.html" %} {% block head %} {% endblock %} {% block content %}
    
    <div id="wrapper" style="text-align: left;">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
			    <h3 class="text-dark mb-0" style="color: rgb(255,255,255)!important;">{%if stats%}Statistics{%else%}Admin Dashboard{% endif %}</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Bots in queue</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>{{queue_amount}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-robot fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Bots on the list</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>{{bots}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="far fa-list-alt fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-info py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span style="color: var(--cyan);">certified bots</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>{{cert}}</span></div>
                                        </div>
                                        <div class="col-auto"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="fa-2x text-gray-300">
                                                <path d="M12 6C12.5523 6 13 6.44772 13 7V13C13 13.5523 12.5523 14 12 14C11.4477 14 11 13.5523 11 13V7C11 6.44772 11.4477 6 12 6Z" fill="currentColor"></path>
                                                <path d="M12 16C11.4477 16 11 16.4477 11 17C11 17.5523 11.4477 18 12 18C12.5523 18 13 17.5523 13 17C13 16.4477 12.5523 16 12 16Z" fill="currentColor"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12Z" fill="currentColor"></path>
                                            </svg></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary font-weight-bold m-0">Bots in queue</h6>
                                </div>
                                <ul class="list-group list-group-flush">
                                    {% for bot in queue_bots %}
				    	{% if bot.banned %}
					{% else %}
                                        <li class="list-group-item">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col mr-2">
							<h6 class="mb-0"><a href="{% if stats %}/bot/{% else %}/admin/review/{% endif %}{{bot.bot_id}}"><strong>{{bot.username}}</strong></a></h6><span class="text-xs">{{bot.description}}</span>
                                                </div>
                                            </div>
                                        </li>
					{% endif %}
                                    {% endfor %}
				   </ul>
			    </div>
			    <div class="row">
	                           <div class="col-lg-6 mb-4">
				       <div class="card shadow mb-4">
		                                <div class="card-header py-3">
					           <h6 class="text-primary font-weight-bold m-0">Banned Bots</h6>
						</div>
						{% for bot in banned %}
                                <li class="list-group-item">
						        <div class="row align-items-center no-gutters">
								<div class="col mr-2">
									<a href="/bot/{{bot.bot_id}}">{{bot.username}} ({{bot.bot_id}})</a>
                                </div>
                            </li>																									                                            </li>
						{% endfor %}
					</div>
				   </div>
				  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if  owner %}
        <div style="width: 80%;margin: 0 auto;;">
            <h3 class="text-center" style="color: rgba(241,241,241,0.87);">Admin Functions</h3>
            <form method="POST">
                {{form.csrf_token}}
                <input type="hidden" name="admin" value="certify"></input>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text" style="background: #00000000;color: rgba(255,255,255,0.87);">Certify a bot</span></div><input class="form-control" type="number" style="background: #ffffff;" name="bot_id">
                    <div class="input-group-append"><button class="btn btn-primary" type="submit">Submit</button></div>
                </div>
            </form>

            <form method="POST">
                {{form.csrf_token}}
                <input type="hidden" name="admin" value="uncertify"></input>
                <div class="input-group" style="margin: 50px 0;">
                    <div class="input-group-prepend"><span class="input-group-text" style="background: #00000000;color: rgba(255,255,255,0.87);">Uncertify a bot</span></div><input class="form-control" type="number" style="background: #ffffff;" name="bot_id">
                    <div class="input-group-append"><button class="btn btn-primary" type="submit">Submit</button></div>
                </div>
            </form>
            <form method="POST">
                {{form.csrf_token}}
                <input type="hidden" name="admin" value="whitelist"></input>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text" style="background: #00000000;color: rgba(255,255,255,0.87);">Autovote Whitelist a bot</span></div><input class="form-control" type="number" style="background: #ffffff;" name="bot_id">
                    <div class="input-group-append"><button class="btn btn-primary" type="submit">Submit</button></div>
                </div>
	    </form><br/>
            <form method="POST">
                {{form.csrf_token}}
                <input type="hidden" name="admin" value="unwhitelist"></input>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text" style="background: #00000000;color: rgba(255,255,255,0.87);">Autovote Unwhitelist a bot</span></div><input class="form-control" type="number" style="background: #ffffff;" name="bot_id">
                    <div class="input-group-append"><button class="btn btn-primary" type="submit">Submit</button></div>
                </div>
            </form>
        {% if owner %}
        <form method="POST">
            {{form.csrf_token}}
            <input type="hidden" name="admin" value="reset"></input>
            <div class="input-group" style="margin: 50px 0;">
                <div class="input-group-prepend"><span class="input-group-text" style="background: #00000000;color: rgba(255,255,255,0.87);">Reset Votes(Also add a wish to the box ;))</span></div><input class="form-control" type="text" required style="background: #ffffff;" name="nn">
                <div class="input-group-append"><button class="btn btn-primary" type="submit">Submit</button></div>
            </div>
        </form>
        {% endif %}
        </div>
        {% endif %}
    </div>
    {% endblock %} {% block footer %} {% endblock %}
