{% macro statcard(name, count, icon) %}
<div class="col-md-6 col-xl-3 mb-4">
	<div class="card shadow border-left-info py-2" style="background: black !important;">
		<div class="card-body">
			<div class="row align-items-center no-gutters">
				<div class="col mr-2">
					<div class="text-uppercase text-success font-weight-bold text-xs mb-1" style="color: white !important;"><span>{{ name }}</span></div>
					<div class="text-dark font-weight-bold h5 mb-0" style="color: white !important;"><span>{{ count }}</span></div>
				</div>
				<div class="col-auto" style="color: white !important;">
					<span class="iconify" data-icon="fa-solid:{{icon}}" data-inline="false" data-height="3em"></span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endmacro %}

{% macro blist(name, bots) %}
<div class="row">
	<div class="col-lg-6 mb-4">
		<div class="card shadow mb-4" style="background: black !important;">
			<div class="card-header py-3">
				<h6 class="text-primary font-weight-bold m-0" style="color: white !important;">{{ name }}</h6>
			</div>
			<ul class="list-group list-group-flush" style="background: black !important;">
			{% for bot in bots %}
				<li class="list-group-item">
					<div class="row align-items-center no-gutters">
						<div class="col mr-2">
							<h6 class="mb-0"><a href="/bot/{{bot.bot_id}}" style="color: white !important;"><strong>{{loop.index}}. {{bot.username}} ({{bot.bot_id}})</strong></a></h6>
							<span class="text-xs long-desc-link">{{bot.description}}</span>
						</div>
					</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endmacro %}


{% extends "base/base.html" %} 
{% block head %} 
{% endblock %} 
{% block content %}
    
    <div id="wrapper" style="text-align: left;">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
			<h3 class="text-dark mb-0" style="color: rgb(255,255,255)!important;">Fates List Admin Console</h3>
			<h5 class="text-dark mb-0" style="margin-bottom: 9px !important; color: rgb(255,255,255)!important; opacity: 0.8">Dont worry if you can see this page. The Admin Console is globally visible for transparency.</h4>
			<h5 class="text-dark mb-0" style="color: rgb(255,255,255)!important; margin-top: 9px !important;">{{perm.replace("_", " ").title()}}</h5> <!-- Get permission, replace underscore with space for title and make it a title -->
			<br/>
			<div class="row" style="margin-bottom: 60px">
			   {{ statcard("Bots In Queue", len(queue), "robot") }}
			   {{ statcard("Bots on the list", bot_amount, "list-alt" ) }}
			   {{ statcard("Certified Bots", len(certified), "certificate") }}
			   {{ statcard("Banned Bots", len(banned), "hammer") }}
			   {{ statcard("Denied Bots", len(denied), "times") }}
			   {{ statcard("Bots Under Review", len(under_review), "cloud") }}
		    </div>
		    {{ blist("Bots In Queue", queue) }}
		    {{ blist("Bots Under Review", under_review) }}
		    {{ blist("Denied Bots", denied) }}
		    {{ blist("Banned Bots", banned) }}
		    {{ blist("Certified Bots", certified) }}
                </div>
            </div>
        </div>
{% endblock %} 
{% block footer %} 
{% endblock %}
