{% extends "base/base.html" %}

{% block head %}

{% endblock %}

{% block icontent %}

            <h2 style="font-weight: bold;font-size: 67px;color: rgba(255,255,255,0.87);">Fates List</h2>
            <h6 style="font-weight: bold;opacity: 0.82;font-size: 20px;color: rgba(255,255,255,0.87);">Find the best bots for your servers.</h6>
        </div><div class="search_wrap search_wrap_3">
    <div class="search_box is-mobile is-centered">
        {% if not profile_search %}
        <form method="GET" action="/search/t">
                <input type="text" class="input" placeholder="Search for bots related to your term." name="q" value="{{query}}" aria-label="Search for s│·
		omething..">
            <button aria-label="Search" class="btn btn_common" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
        {% else %}
        <form method="GET" action="/search/profile">
                <input type="text" class="input" placeholder="Search for profiles related to your term." name="q" value="{{query}}" aria-label="Search for something..">
            <button class="btn btn_common" type="submit" aria-label="Search">
                <i class="fas fa-search"></i>
            </button>
        </form>
        {% endif %}
    </div>
     {% if not profile_search %}
     <small style="font-size: 14.5px; display: block; font-weight: bold; text-align: center; color: white;">Want to search by profile? Try <a href="/search/profile" style="opacity: 0.8; color: white;">Profile Search</a></small>
     {% else %}
     <small style="font-size: 14.5px; display: block; font-weight: bold; text-align: center; color: white;">Want to search by bot? Try <a href="/" style="opacity: 0.8; color: white;">Bot Search</a></small>
     {% endif %}  
   </div>
        <div class="d-flex flex-wrap justify-content-center align-items-center" style="width: 97%;margin: 0 auto;">
            {% for tag,new_tag in tags_fixed.items() %}
		       <button class="text-nowrap btn d-flex justify-content-center align-items-center {{new_tag[1][1]}}" style="color: white;border-radius: 10px; margin: 6px;" onclick="location.href='/search/tags?tag={{tag}}'" data-toggle="tooltip" data-placement="bottom" title="{{new_tag[0]}}"><i class="{{new_tag[1][0]}}" aria-hidden="true"></i><span style="margin-left: 3px; font-size: 13px;"><strong>{{new_tag[0]}}</strong></span></button>
            {% endfor %}
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
