{% extends "base/base.html" %}

{% block head %}
<script>
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 100 + 'px';
    }
  </script>
{% endblock %}

{% block content %}
    <div class="d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center"><img style="border-radius: 50%; width: 128px;" src="{{bot.avatar}}">
        <h3 class="text-center" style="color: rgba(255,255,255,0.87);font-weight: bold;">{{bot.username}}</h3>
        {% if maint[0] %}
        <div style="text-align: center;">
        <p style="margin-bottom: 3px; color: red; font-size: 18px; font-weight: bold;">Maintenance in progress</p>
        <p style="color: red; font-size: 18px; font-weight: bold;">{{maint[1]["reason"]}}</p>
        </div>
        {% endif %}
        <p style="font-weight: bold; color: rgba(255,255,255,0.87);">This bot has been coded using the {{bot.library}} library</p>
        <p style="color: rgba(255,255,255,0.87);font-weight: bold;opacity: 0.93;">{{bot.description}}</p>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-wrap" style="width: 80%;margin: 0 auto;max-width: 1000px;">
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;background: #7289DA;width: auto;margin: 10px;font-size: 11px;">
        <form method = "POST" action = "/bot/{{bot.bot_id}}/vote">
            {{form.csrf_token}}
            <button type="submit" class="btn btn-outline-dark" style="background-color: #7289DA; color: white !important;"><i class="fas fa-thumbs-up"></i>{{bot.votes}}</button>
        </form>
        </div>
        {% if not bot.support or bot.support == "" or bot.support == "None" %}
        {% else %}
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;background: #7289DA;width: auto;margin: 10px;font-size: 11px;">
        <button onclick="window.location.replace('{{bot.support}}')" type="submit" class="btn btn-outline-dark" style="background-color: #7289DA; color: white !important;"><i class="fas"></i>Support</button>
        </div>
       {% endif %}
        {% if not bot.website or bot.website == "" or bot.website == "None" %}
        {% else %}
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;background: #7289DA;width: auto;margin: 10px;font-size: 11px;">
        <button onclick="window.location.replace('{{bot.website}}')" type="submit" class="btn btn-outline-dark" style="background-color: #7289DA; color: white !important;"><i class="fas"></i>Website</button>
        </div>
       {% endif %}
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;background: #7289DA;width: auto;margin: 10px;font-size: 11px;">
        <button onclick="window.location.replace('{{bot.invite}}')" type="submit" class="btn btn-outline-dark" style="background-color: #7289DA; color: white !important;"><i class="fas"></i>Invite</button>
        </div>

        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;background: #7289DA;width: auto;margin: 10px;font-size: 11px;">
            <p style="color: rgba(255,255,255,0.87);font-size: 16px;font-weight: bold;margin: 2px 10px;line-height: 2;">Edit(if mod)</p>
        </div>
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;background: #7289DA;width: auto;margin: 10px;font-size: 11px;">
            <p style="color: rgba(255,255,255,0.87);font-size: 16px;font-weight: bold;margin: 2px 10px;line-height: 2;">Shards: 15</p>
        </div>
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;background: #7289DA;width: auto;margin: 10px;font-size: 11px;">
            <p style="background: #7289DA;" class="btn btn-primary" >Servers: {{bot.servers}}</p>
        </div>
    </div>
    <h6 style="font-weight: bold;color: rgba(255,255,255,0.87); text-align: center;">Tags:</h6>
    <div style="text-align: center;">
    {% for tag in bot.tags %}
        <button onclick="window.location.replace('/search/tags/{{tag}}')" class="btn btn-outline-dark" style="background-color: #7289DA; color: white !important;"> <i class="fas"></i>{{tag.capitalize()}}</button>
    {% endfor %}
    </div>
    {% if events != [] %}
    <hr style="margin-top: 20px; font-size: 20px;border-top-width: 1px;border-top-color: #eee;width: 90%;">
    <h5 class="text-center" style="color: rgba(255,255,255,0.87);font-weight: bold;margin-top: -13px;margin-bottom: 30px;">Events</h5>
    {% endif %}
    {% for event in events %}
        <div class="alert alert-primary" role="alert" style='width: 90%; font-weight: bold; margin: 0 auto; height: 86%; padding: 5px; {% if event["css"] == "" %}background-color: #111112; {%endif%} {{event["css"]|safe}} margin-bottom: 3px;'>
        <p style="color: white; margin-bottom: 3px; margin-left: 2px; {{event["css"]|safe}}">{{event["event"]}}</p>
        {% if event["context"].replace(" ", "") != "NONE" and event["context"].replace(" ", "") != "" %}
        <p style="color: white; {{event["css"]|safe}}">{{event["context"]|safe}}</p>
        {% endif %}
        </div>
    {% endfor %}
    <hr style="font-size: 20px;border-top-width: 1px;border-top-color: #eee;width: 90%;">
    <h5 class="text-center" style="color: rgba(255,255,255,0.87);font-weight: bold;margin-top: -13px;margin-bottom: 30px;">Description</h5><iframe id="myIframe" src="/bot/description/{{bot.bot_id}}" style="width: 90%;height: 300px;color: rgba(255,255,255,0.87)!important;background: #121212;margin: 0 5%;" scrolling="no" onload="resizeIframe(this)"></iframe>
    
{% endblock %} 
{% block footer %} 
{% endblock %}
