{% extends "base/base.html" %}

{% block head %}
<script>
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 100 + 'px';
    }
  </script>
{% endblock %}

{% block content %}
    <div style="margin 0 auto;" class="d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center"><img style="border-radius: 50%; width: 125px;" src="{{bot.avatar}}">
        <h3 class="text-center" style="color: rgba(255,255,255,0.87);font-weight: bold;">{{bot.username}}</h3>
	{% if bot.banned %}
        <p style="color: red; font-size: 18px; font-weight: bold;">This bot has been BANNED or DENIED from this bot list for violating our rules or being a low-quality bot. Please do not invite it.</p>
	{% endif %}
	<p style="font-weight: bold; color: rgba(255,255,255,0.87);">This bot is owned by: <a href="/profile/{{bot.owner}}">{{bot.owner_pretty.username}}</a>{% if bot.extra_owners == "None" or not bot.extra_owners or bot.extra_owners == [] %}{%else%}{%for bobj in bot.extra_owners %}{% if loop.index == bot.leo %} and {% else%}, {%endif%}<a href="/profile/{{bobj[1]}}">{{bobj[0]["username"]}}</a>{%endfor%}{%endif%}</p>
        <p style="font-weight: bold; color: rgba(255,255,255,0.87);">Prefix: {{bot.prefix}}</p>
	{% if maint[0] %}
        <div style="text-align: center;">
        <p style="margin-bottom: 3px; color: red; font-size: 18px; font-weight: bold;">Maintenance in progress</p>
        <p style="color: red; font-size: 18px; font-weight: bold;">{{maint[1]["reason"]}}</p>
        </div>
        {% endif %}
        <p style="font-weight: bold; color: rgba(255,255,255,0.87);">This bot has been coded using the {{bot.library}} library</p>
        <p style="margin 0 auto; color: rgba(255,255,255,0.87);font-weight: bold;opacity: 0.93;">{{bot.description}}</p>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-wrap" style="width: 80%;margin: 0 auto;max-width: 1000px;">
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;background: #7289DA;width: auto;margin: 10px;font-size: 11px;">
	{% if not bot.banned %}
        <form method = "POST" action = "/bot/{{bot.bot_id}}/vote">
            {{form.csrf_token}}
            <button type="submit" class="btn btn-outline-dark" style="background-color: #7289DA; color: white !important;"><i class="fas fa-thumbs-up"></i>{{bot.votes}}</button>
        </form>
	{% endif %}
        </div>
        {% if not bot.support or bot.support == "" or bot.support == "None" %}
        {% else %}
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;background: #7289DA;width: auto;margin: 10px;font-size: 11px;">
        <a target=”_blank” href="{{bot.support}}"><button class="btn btn-outline-dark" style="background-color: #7289DA; color: white !important;"><i class="fas"></i>Support</button></a>
        </div>
       {% endif %}
        {% if not bot.github or bot.github == "" or bot.github == "None" %}
        {% else %}
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;background: #7289DA;width: auto;margin: 10px;font-size: 11px;">
        <a target=”_blank” href="{{bot.github}}"><button class="btn btn-outline-dark" style="background-color: #7289DA; color: white !important;"><i class="fas"></i>Github</button></a>
        </div>
       {% endif %}
        {% if not bot.website or bot.website == "" or bot.website == "None" %}
        {% else %}
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;background: #7289DA;width: auto;margin: 10px;font-size: 11px;">
        <a target=”_blank” href="{{bot.website}}"<button class="btn btn-outline-dark" style="background-color: #7289DA; color: white !important;"><i class="fas"></i>Website</button></a>
        </div>
       {% endif %}
       {% if not bot.banned %}
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;background: #7289DA;width: auto;margin: 10px;font-size: 11px;">
        <a target=”_blank” href="{{bot.invite}}"><button class="btn btn-outline-dark" style="background-color: #7289DA; color: white !important;"><i class="fas"></i>Invite</button></a>
        </div>
	{% endif %}
        {% if bot_admin %}
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;background: #7289DA;width: auto;margin: 10px;font-size: 11px;">
        <a href="/bot/edit/{{bot.bot_id}}"><button class="btn btn-outline-dark" style="background-color: #7289DA; color: white !important;"><i class="fas"></i>Edit</button></a>
        </div>
        {% endif %}
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;background: #7289DA;width: auto;margin: 10px;font-size: 11px;">
            <p style="background: #7289DA;" class="btn btn-primary" >Shards: {{bot.shards}}</p>
        </div>
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;background: #7289DA;width: auto;margin: 10px;font-size: 11px;">
            <p style="background: #7289DA;" class="btn btn-primary" >Servers: {{bot.servers}}</p>
        </div>
    </div>
    <h6 style="font-weight: bold;color: rgba(255,255,255,0.87); text-align: center;">Tags:</h6>
    <div style="text-align: center;">
    {% for tag in bot.tags %}
        <button onclick="window.location.replace('/search/tags/{{tag}}')" class="btn btn-outline-dark" style="background-color: #7289DA; color: white !important;"> <i class="fas"></i>{{tag.replace("_", " ")}}</button>
    {% endfor %}
    </div>
    {% if events != [] %}
    <hr style="margin-top: 20px; font-size: 20px;border-top-width: 1px;border-top-color: #eee;width: 90%;">
    <h5 class="text-center" style="color: rgba(255,255,255,0.87);font-weight: bold;margin-top: -13px;margin-bottom: 30px;">Events</h5>
    {% endif %}
    {% for event in events %}
        <div class="alert alert-primary" role="alert" style='width: 90%; font-weight: bold; margin: 0 auto; height: 86%; padding: 5px; {% if event["css"] == "" %}background-color: #111112; {%endif%} {{event["css"]|safe}} margin-bottom: 3px;'>
        <p style="color: white; margin-bottom: 3px; margin-left: 2px; {{event["css"]|safe}}">{{event["event"]}}</p>
        {% if event["context"].replace(" ", "") != "NONE" and event["context"].replace(" ", "") != "" %}
        <p style="color: white; {{event["css"]|safe}}">{{event["context"]|safe}}</p>
        {% endif %}
        </div>
    {% endfor %}
        {% if staff[0] and not bot.banned %}
        <form style="text-align: center; margin: 10px;" method="POST" action="/bot/ban/{{bot.bot_id}}">
                {{form.csrf_token}}
		<input type="hidden" name="ban" value="1"/>
		<p style="font-weight: bold;color: rgba(255,255,255,0.87); text-align: center;">If this bot is misbehaving...</p>
                <input type="text" name="reason" placeholder="Enter ban reason" required/>
                <button type="submit" class="btn btn-outline-dark" style="background-color: red; color: white !important;"><i class="fas"></i>Ban</button>
        </form>
        {% endif %}
        {% if staff[0] and bot.banned %}
        <form style="text-align: center; margin: 10px;" method="POST" action="/bot/ban/{{bot.bot_id}}">
                {{form.csrf_token}}
                <p style="font-weight: bold;color: rgba(255,255,255,0.87); text-align: center;">If this bot has learnt its lesson...</p>
                <input type="hidden" name="ban" value="0"/>
                <button type="submit" class="btn btn-outline-dark" style="background-color: red; color: white !important;"><i class="fas"></i>Unban</button>
        </form>
        {% endif %}
    <hr style="font-size: 20px;border-top-width: 1px;border-top-color: #eee;width: 90%;">
    <h5 class="text-center" style="color: rgba(255,255,255,0.87);font-weight: bold;margin-top: -13px;margin-bottom: 30px;">Description</h5><iframe id="myIframe" src="/bot/description/{{bot.bot_id}}" style="width: 90%;height: 300px;color: rgba(255,255,255,0.87)!important;background: #121212;margin: 0 5%;" scrolling="no" onload="resizeIframe(this)"></iframe>
    
{% endblock %} 
{% block footer %} 
{% endblock %}
