{% extends "base/base.html" %}

{% block head %}
<script>
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 100 + 'px';
    }
  </script>
{% endblock %}

{% block content %}
    <div class="d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center">

	<a href="javascript:void(0)"><img style="border-radius: 50%; width: 120px;" src="{{bot.avatar}}" onclick="modalShow('#botInfo')"></a>
        <h3 class="text-center" style="color: rgba(255,255,255,0.87);font-weight: bold;">{{bot.username}}</h3>
	{% if bot.banned %}
        <div class="alert alert-danger" style="text-align: center; justify-content: center; color: white !important;" role="alert">
        <strong>This bot has been BANNED or DENIED from this bot list for violating our rules or being a low-quality bot. Please do not invite it.</strong>
	</div>
	{% elif bot.queue and not review%}
        <div class="alert alert-danger" style="text-align: center; justify-content: center; color: white !important;" role="alert">
        <strong>This bot has not yet been verified/approved on this bot list and it may violate our rules or be a low-quality bot. Please do not invite it yet</strong>
	</div>
	{% endif %}
	{% if review %}
	<div class="alert alert-info" style="text-align: center; justify-content: center; color: white !important;" role="alert">
	<strong>You are in review mode. Test the bot by inviting it to the staff server by clicking the Invite button and choosing the Testing Server. Once you are done reviewing the bot, click the bots icon to approve/deny it</strong></div>
	{% endif %}
	<p style="color: rgba(255,255,255,0.87);">Click the bots icon for more information such as the prefix, owners etc.</p>
	{% if maint[0] %}
	    <div class="alert alert-danger" style="text-align: center; justify-content: center; color: white !important;" role="alert">
	    <strong>{{maint[1]["reason"]}}</strong>
        </div>
        {% endif %}
        <h3 style="margin 0 auto; color: white;font-weight: bold; font-size: 20px;">{{bot.description}}</h3>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-wrap" style="width: 80%;margin: 0 auto;max-width: 1000px;">
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;width: auto;margin: 10px;font-size: 11px;">
	{% if not bot.banned and not maint[0] %}
        <form method = "POST" action = "/bot/{{bot.bot_id}}/vote">
            {{form.csrf_token}}
            <button type="submit" class="btn btn-outline-light" style="color: white !important;"><i class="fas fa-thumbs-up"></i>{{bot.votes}}</button>
        </form>
	{% endif %}
        </div>
        {% if not bot.support or bot.support == "" or bot.support == "None" %}
        {% else %}
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;width: auto;margin: 10px;font-size: 11px;">
        <a target=”_blank” href="{{bot.support}}"><button class="btn btn-outline-light" style="color: white !important;"><i class="fas"></i>Support</button></a>
        </div>
       {% endif %}
        {% if not bot.github or bot.github == "" or bot.github == "None" %}
        {% else %}
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;width: auto;margin: 10px;font-size: 11px;">
        <a target=”_blank” href="{{bot.github}}"><button class="btn btn-outline-light" style="color: white !important;"><i class="fas"></i>Github</button></a>
        </div>
       {% endif %}
        {% if not bot.website or bot.website == "" or bot.website == "None" %}
        {% else %}
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;width: auto;margin: 10px;font-size: 11px;">
        <a target=”_blank” href="{{bot.website}}"<button class="btn btn-outline-light" style="color: white !important;"><i class="fas"></i>Website</button></a>
        </div>
       {% endif %}
       {% if not bot.banned%}
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;width: auto;margin: 10px;font-size: 11px;">
	<a target=”_blank” href="/bot/{{bot.bot_id}}/invite"><button class="btn btn-outline-light" style="color: white !important;"><i class="fas"></i>Invite</button></a>
        </div>
	{% endif %}
        {% if bot_admin %}
        <div class="text-nowrap d-flex justify-content-xl-center align-items-xl-center" style="line-height: 2;border-radius: 25px;width: auto;margin: 10px;font-size: 11px;">
        <a href="/bot/{{bot.bot_id}}/edit"><button class="btn btn-outline-light" style="color: white !important;"><i class="fas"></i>Edit</button></a>
        </div>
        {% endif %}
    </div>
    <div style="inline-block">
    <h6 style="font-weight: bold;color: rgba(255,255,255,0.87); text-align: center;">Tags</h6>
    <hr style="width: 90%; color: white; background: white;"/>
    <div style="text-align: center;">
        <div class="d-flex flex-wrap justify-content-center align-items-center" style="width: 97%;margin: 0 auto;">
            {% for tag,new_tag in tags_fixed.items() %}
               <div>
                 <button class="text-nowrap btn d-flex justify-content-center align-items-center {{new_tag[1][1]}}" style="color: white;border-radius: 10px; margin: 6px;" onclick="location.href='/search/tags?tag={{tag}}'" data-toggle="tooltip" data-placement="bottom" title="{{new_tag[0]}}"><i class="{{new_tag[1][0]}}" aria-hidden="true"></i><span style="margin-left: 3px; font-size: 13px;"><strong>{{new_tag[0]}}</strong></span></button>
                </div>
            {% endfor %}
	</div>
    </div>
    </div>
    {% if promos != [] %}
    <hr style="margin-top: 20px; font-size: 20px;border-top-width: 1px;border-top-color: #eee;width: 90%;">
    <h5 class="text-center" style="color: rgba(255,255,255,0.87);font-weight: bold;margin-top: -13px;margin-bottom: 30px;">Special Promotions/Events</h5>
    {% endif %}
    {% for promo in promos %}
        <div class="alert alert-primary" role="alert" style='width: 90%; font-weight: bold; margin: 0 auto; height: 86%; padding: 5px; {% if not promo.css %}background-color: #111112; {%endif%} {{promo.css|safe}} margin-bottom: 3px;'>
        <p style="color: white; margin-bottom: 3px; margin-left: 2px; {{promo.css|safe}}">{{promo.title}}</p>
	<p style="color: white; {{promo.css|safe}}">{{promo.info|safe}}</p>
        </div>
    {% endfor %}
        {% if staff[0] and not bot.banned %}
        <form style="text-align: center; margin: 10px;" method="POST" action="/bot/ban/{{bot.bot_id}}">
                {{form.csrf_token}}
		<input type="hidden" name="ban" value="1"/>
		<p style="font-weight: bold;color: rgba(255,255,255,0.87); text-align: center;">If this bot is misbehaving...</p>
                <input type="text" name="reason" placeholder="Enter ban reason" required/>
                <button type="submit" class="btn btn-outline-dark" style="background-color: red; color: white !important;"><i class="fas"></i>Ban</button>
        </form>
        {% endif %}
        {% if staff[0] and bot.banned %}
        <form style="text-align: center; margin: 10px;" method="POST" action="/bot/ban/{{bot.bot_id}}">
                {{form.csrf_token}}
                <p style="font-weight: bold;color: rgba(255,255,255,0.87); text-align: center;">If this bot has learnt its lesson...</p>
                <input type="hidden" name="ban" value="0"/>
                <button type="submit" class="btn btn-outline-dark" style="background-color: red; color: white !important;"><i class="fas"></i>Unban</button>
        </form>
        {% endif %}
    <iframe id="myIframe" src="/bot/{{bot.bot_id}}/description" style="font-size: 18px; width: 90%;height: 300px;color: rgba(255,255,255,0.87)!important;margin: 0 5%; border: none" scrolling="no" onload="resizeIframe(this)"></iframe>
<div class="modal fade" id="botInfo" tabindex="-1"  aria-labelledby="{{badge_id}}Label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 style="color: black;" class="modal-title" id="bInfolabel">{{bot.username}}</h5>
			</div>
                        <div class="modal-body" style="text-align: left">
				<strong>Owners: </strong><a href="/profile/{{bot.owner}}">{{bot.owner_pretty.username}}</a>{% if bot.extra_owners == "None" or not bot.extra_owners or bot.extra_owners == [] %}{%else%}{%for bobj in bot.extra_owners %}{% if loop.index == bot.leo %} and {% else%}, {%endif%}<a href="/profile/{{bobj[1]}}">{{bobj[0]["username"]}}</a>{%endfor%}{%endif%}<br/>

				<strong>Prefix:</strong> {{bot.prefix}}<br/>
				<strong>Library:</strong> {{bot.library}}<br/>
				<strong>Servers:</strong> {{bot.servers}}<br/>
				<strong>Shards:</strong> {{bot.shards}}</br/>
				<strong>Amount Of Invites:</strong> {{bot.invite_amount}}<br/>
				<strong>Vote Page:</strong> <a href="/bot/{{bot.bot_id}}/vote">Share this with your friends!</a><br/>
				{% if bot.features %}
				<strong>Features: </strong>{% for f in bot.features %}<a href="/feature/{{f}}">{{f.replace("_", " ").title()}}</a>{% if loop.index == bot.fleo - 1%} and {% elif loop.index != bot.fleo%}, {%endif%}{% endfor %}
				{% endif %}<br/><br/>
				{% if username %}<strong>PUBAV Token:</strong> {{pubav}}<br/>{% endif %}
			</div>
			{% if staff[0] %}
			<div class="modal-footer">
				{% if review %}
				<form method="POST" action="/admin/review/{{bot.bot_id}}">
					{{ form.csrf_token }}
					<input hidden name="accept" value="true"></input>
					<button class="btn btn-primary" type="submit" style="margin: 0 15px;">Accept</button>
				</form>
                                <form method="POST" action="/admin/review/{{bot.bot_id}}">
                                        {{ form.csrf_token }}
                                        <input hidden name="accept" value="false"></input>
                                        <button class="btn btn-primary" type="submit" style="margin: 0 15px;">Deny</button>
                                </form>
				{% elif not bot.queue %}
                                <form method="POST" action="/admin/review/{{bot.bot_id}}">
                                        {{ form.csrf_token }}
                                        <input hidden name="accept" value="unverify"></input>
                                        <button class="btn btn-primary" type="submit" style="margin: 0 15px;">Unverify</button>
                                </form>
				{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
</div>
<script>
        function modalShow(id) {
                        $(id).modal()
        }
</script>
{% endblock %} 
{% block footer %} 
{% endblock %}
