<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
    <base target="_parent">
    <style>* {
    color: rgba(255,255,255,0.87)!important;
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif !important;
    }
    </style>
</head>
<body>
    <div id="body"></div>
</body>
<div id="holder" style="font-size: 18px; font-family: Helvetica, verdana, sans-serif;"><p style="font-size: 18px;">{{long_description|safe}}</p></div>
</html>
