{% extends "base/base.html" %}

{% block head %}

{% endblock %}

{% block content %}
<h2 style="text-align:center; color:white; font-weight:bold;margin-top:10%"><strong>{{name.replace("_", " ").title()}}</strong></h2>
<div style="border-radius: 40px 40px 10px 10px; border: solid white; width: 90%; margin-left: 5%; text-align: center; word-wrap: break-word; border-width: thin;">"
<h5 style="text-align:center; color:white;">This is a {{feature.type}} feature</h5>
<h6 style="text-align:center; color:white;">{{feature.description}}</h6>
</div>
<hr style="color: white; background: white; width: 90%">
<h5 style="text-align:center; color:white;">Some popular bots with this feature</h5>
    <div class="d-flex flex-wrap justify-content-sm-center align-items-sm-center justify-content-md-center justify-content-lg-center" id="tt-1" style="width: 90%;margin: 30px 5%;">
        {% for bot in bots %}
        	{{ botCard(bot, False) }}
	{% endfor %}
    </div>
{% endblock %}
{% block footer %}

{% endblock %}
