{% extends "base/base.html" %}

{% block head %}
<style>
.modalux {
                border-radius: 50%;
       }
</style>
{% endblock %}

{% block content %}
    <div class="d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center"><img style="border-radius: 50%;width: 128px;" src="{{user.avatar}}">
        <h3 class="text-center" style="color: rgba(255,255,255,0.87);font-weight: bold;">{{user.username}}</h3>
	<span style="font-size: 18px" class="white">
		<span id="bio_text-0" style="opacity: 0.7">{% if not user_info.description %}This user prefers to be an enigma{% else %}{{user_info.description}}{% endif %}</span>
		{% if personal %}
		<a role="button" aria-label="Edit Profile" href="javascript:void" class="long-desc-link" style="color: white !important; opacity: 0.7; font-size: 14px" onclick="pbioEditPane(this, 0)">Edit</a>
		<div role="form" id="bio-0" style="display: none">
			<input type="text" class="fform" id="bio-form-0" value="{% if not user_info.description %}This user prefers to be an enigma{% else %}{{user_info.description}}{% endif %}" placeholder="Enter your bio here">
			<button class="btn btn-outline-light" onclick="updateBio()">Edit</button>
		</div>
                {% endif %}
	</span>
	<p class="white"><span style="margin-right: 3px;" class="iconify white" data-icon="fa-solid:coins" data-inline="false"></span>{{coins}}</p>
	<h4 class="text-center" style="color: rgba(255,255,255,0.87);font-weight: bold;">Badges</h4>
	{% if badges == [] or not badges or badges == {} %}
		<h5 class="text-center" style="color: rgba(255,255,255,0.87);font-weight: bold;">No Badges Yet...</h5>
	{%endif%}
	<div>
	{% for badge_id, badge_dict in badges.items()%} <!-- Badges -->
                <a href="javascript:void(0)"><img src='{{badge_dict["image"]}}' alt='{{badge_dict["name"] + " badge"}}' height="50px" width="55px" class="modalux" onclick="modalShow('#{{badge_id}}')"/></a>

                <div class="modal fade" id="{{badge_id}}" tabindex="-1"  aria-labelledby="{{badge_id}}Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                        <div class="modal-header">
                                                <h5 style="color: black;" class="modal-title" id="{{badge_id}}Label">{{badge_dict["name"]}}</h5>
                                        </div>
                                        <div class="modal-body">
                                        {{badge_dict["description"]}}<br/><br/>
                                        </div>
                                </div>
                        </div>
                </div>
        {%endfor%}
	</div>
    </div>
    <hr style="font-size: 20px;border-top-width: 1px;border-top-color: #eee;width: 90%;">
    <div class="d-flex" style="margin-left: 5%;"><span class="iconify" data-icon="fa-solid:robot" data-inline="false" data-height="3em" style="color: white"></span>
	    <h4 style="color: rgba(255,255,255,0.87);margin-left: 15px;">{% if not personal %}{{user.username}}'s Bots{%else%}Your Bots{%endif%}</h4>
    </div>
    <div class="d-flex flex-wrap justify-content-sm-center align-items-sm-center justify-content-md-center justify-content-lg-center" id="tt-1" style="width: 90%;margin: 30px 5%;">
        {% for bot in user_bots %}
		{{ flCard(bot, False, 'bot') }}
	{% endfor %}
    </div>
    {% if personal %}
    <h6 class="white" style="margin-bottom: 11px;">Note that the above list of bots includes your bots in the queue and banned bots (DM/ping an admin for resubmission). These bots are hidden unless you are logged in.</h6>
    <small id="user_tok" class="long-desc-link" style="display: none; margin-bottom: 5px;">API Token (User) [DO NOT SHARE]: {{user_info.api_token}}</small>
    <button class="btn btn-outline-light" style="margin-bottom: 15px" onclick="showToken(this)">Show API Token (User)</button><br/>
    <p></p>
    {%endif%}
    <script>
	function showToken(but) {
		usertok = document.querySelector("#user_tok");
		if(usertok.style.display == "none") {	
			usertok.style.display = "block";
			but.innerHTML = "Hide API Token"
		}
		else {
			usertok.style.display = "none";
			but.innerHTML = "Show API Token (User)"
		}
	}		
        function modalShow(id) {
                        $(id).modal()
        }
        function pbioEditPane(el, id) {
                bio = document.querySelector('#bio-' + id)
                if(bio.style.display == "none") {
                        bio.style.display = 'block';
                        document.querySelector("#bio_text-" + id).style.display = "none";
                        el.innerHTML = 'Close Edit Menu';
                }
                else {
                        bio.style.display = 'none';
                        document.querySelector("#bio_text-" + id).style.display = "inline-block";
                        el.innerHTML = 'Edit';
                }
        }
  {% if personal %}
  function updateBio() {
        json = JSON.stringify({"description": document.querySelector("#bio-form-0").value})
        headers = {"Authorization": "{{user_info.api_token}}"}
        $.ajax({
		url: "/api/users/{{user_id}}/description",
                dataType: "json",
                headers: headers,
                type: "PATCH",
                processData: false,
                contentType: 'application/json',
                data: json
        })
        alert("Changed your bio successfully")
        window.location.reload()

  }
{% endif %}
</script>
{% endblock %}
{% block footer %}
    
{% endblock %}
