{% extends "base/base.html" %}

{% block head %}
<style>
input[type='file']{
  color:blue;
}
</style>
{% endblock %}

{% block content %}
<div
  style="
    border-radius: 15px;
  "
>
  <div
    class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex flex-column justify-content-center align-items-center flex-sm-column justify-content-sm-center align-items-sm-center flex-md-column justify-content-md-center align-items-md-center flex-lg-column justify-content-lg-center align-items-lg-center flex-xl-column justify-content-xl-center align-items-xl-center"
  >
    <h2
      style="
        color: rgba(255, 255, 255, 0.87);
        font-weight: bold;
        margin-top: 40px;
      "
    >
      Fates List
    </h2>
    <p
      style="
        color: rgba(255, 255, 255, 0.87);
        font-weight: bold;
        opacity: 0.78;
        font-size: 21px;
      "
    >
    Hi! Did you fix the problems we asked you to fix and need to resubmit? Do you want to request a ban appeal? If so, please fill out this simple and quick form!
    </p>
    {% if not error %}
    {% else %}
    <div class="alert alert-danger" style="text-align: center; justify-content: center; color: white !important;" role="alert">
            <strong>{{error|safe}}</strong>
    </div>
    {% endif %}
  </div>
  <hr
    style="
      font-size: 20px;
      border-top-width: 1px;
      border-top-color: #eee;
      width: 70%;
    "
  />
    <div class="form-group" style="color: blue; width: 80%; margin: 0 auto; height: auto; margin-top: 30px; color: rgba(255, 255, 255, 0.87)">
        <div class="form-group" class="d-flex" style="margin: 15px auto; width: 85%;color: white; font-weight: bold; overflow-wrap: anywhere;">

  <form
    style="height: auto; margin-top: 30px; color: rgba(255, 255, 255, 0.87); text-align: center;"
    id="bot_form"
    method="POST"
  >
    <div class="form-group">
<div class="container">
     <h6 style="font-weight: bold; margin-bottom: 15px;">Did you fix the issues you were asked to fix? If you were banned, do you understand why your bot was banned and do you promise to never do it again? Make your appeal as convincing as possible. If this is a resubmission, just say that you have fixed all the issues we had with it or why you feel like your bot should have been approved</h6>
      <label
        for="appeal"
        >Write appeal/resubmission request here <span style="color: red; font-weight: bold" aria-hidden="true">*</span>
      </label>
      <textarea
        required
        class="form-control fform"
	style="border-radius: 4px 4px 4px 4px !important; height: 120px;"
        type="text"
        name="appeal"
        placeholder="I feel like my bot should have been approved because.../I feel like my bot was banned unfairly...!"
	></textarea>
	  </div>
        <div class="custom-control custom-switch form-check" style="text-align: center; float: left; display: block; margin-bottom: 3px; margin-left: 15%;"/>
        <input type="checkbox" class="custom-control-input" tabindex="0" id="qtype"  name="qtype" aria-label="Join Servers" style="margin: auto !important;"/>
	<label class="custom-control-label" for="qtype">Resubmitting? -> If you are resubmitting your bot, check this. If you are appealing a ban, don't check this</label>
        </div><br/><br/>

  </div>
  {{form.csrf_token}}
  <button type="submit" class="btn btn-outline-light" style="margin-top: 30px;">Submit</button>
</form>
{% endblock %}
{% block footer %}

{% endblock %}
