{% extends "base_index.html" %}

{% block head %}

{% endblock %}

{% block content %}
    <hr style="font-size: 20px;border-top-width: 1px;border-top-color: #eee;width: 90%;">
    <div class="d-flex" style="margin-left: 5%;"><i class="fas fa fa-search fa-3x" style="color:white;"></i>
        <h4 style="color: rgba(255,255,255,0.87);margin-left: 15px;">Search Results</h4>
    </div>
    {% if search_bots == [] %}
    <div class="index-fl">
    {% else %}
    <div class="index-fl" style="color: #111112 !important;">
    {% endif %}
    <div class="d-flex flex-wrap justify-content-sm-center align-items-sm-center justify-content-md-center justify-content-lg-center" id="tt-1" style="width: 90%;margin: 30px 5%;">
	{% if not profile_search %}
	{% if search_bots == [] %}
		<h4 class="text-nowrap text-break text-center" style="color: rgba(255,255,255,0.87);font-weight: bold;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">No Bots Found</h4>
	{% endif %}
        {% for bot in search_bots %}
		{{ botCard(bot, False) }}
	{% endfor %}
        {% else %}
        {% for profile in profiles %}
        <div class="bot-card">
	    <div class="lozad bot-card-banner" data-background-image="{{profile.user.banner}}">
		    <a href="/profile/{{profile.user.userid}}"><img alt="bot avatar" class="bot-card-avatar" src="{{profile.avatar}}" loading="lazy"/></a>
	    </div>
            <div>
                <div class="bot-card-username">
			<h4 class="text-nowrap text-break text-center bot-card-username-txt white-bold">{{profile.username}}</h4>
		</div>
            </div>
	    <h6 class="bot-card-description"><strong style="overflow-wrap: anywhere;">{% if not profile.description %}No Description Is Available{%else%}{{profile.description}}{%endif%}</strong></h6>
            <div style="text-align: center;"><a href="/profile/{{profile.user.userid}}" class="btn btn-outline-light bot-card-actions-link">View</a>
            </div>
	   </div>
    {% endfor %}
    {% endif %}
    </div>
    </div>
    <script src="/static/assets/js/main.js"></script>
{% endblock %}
{% block footer %}

{% endblock %}
