{% extends "base/base.html" %}

{% block head %}

{% endblock %}

{% block content %}
   <h3 style="text-align:center; color:white; font-weight:bold;">Add Server (Coming Soon)</h3>
   <h4 style="text-align:center; color:white;" id="js_msg">We're glad you're here!<br/>If you aren't a server administrator, please go ahead and ask them to set this up.<br/><br/><span style="opacity: 0.8">Once you are ready to continue, click Continue.</span></h4>
   <button onclick='doStep(false);' style="display: none; margin-right: 5px;" type="button" id="s1-back" class="btn btn-outline-light"><span class="iconify white" data-icon="fa-solid:arrow-left" data-inline="false" style="margin-right: 3px;"></span>Back</button>
   <button onclick='doStep(true);' type="button" id="s1-next" class="btn btn-outline-light">Continue<span class="iconify white" data-icon="fa-solid:arrow-right" data-inline="false" style="margin-left: 3px;"></span></button>
   <script>
	  var cont = 0;
	  var old_text = document.querySelector("#js_msg").innerHTML;
	  var old_text_front = document.querySelector("#js_msg").innerHTML;
	  function doStep(next) {
		if(next == true) {
			if(cont == 0) {
				document.querySelector("#js_msg").innerHTML = "The first thing you will need to do to add your server is to add our bot to your server by clicking <a target='_blank' href='{{invite}}' class='long-desc-link'>here</a>.<br/>You must give it permission to create invites and add reactions<br/><br/><span style='opacity: 0.8'>Once you have added the bot to your server, click Continue.</span>";
				document.querySelector("#s1-back").style.display = "inline";
				document.querySelector("#s1-next").style.display = "inline";
				old_text = document.querySelector("#js_msg").innerHTML;
				cont = 1;
			}
			else {
				document.querySelector("#js_msg").innerHTML = `The list of servers with the Fates List Bot that you can manage is listed below.<br/>Only servers that you are in while logging into Fates List and you have 'Manage Server' or 'Administrator' in is listed below:<br/><button type='button' onclick='checkGuilds();' class='btn btn-outline-light' style='margin-bottom: 10px;'>Recheck</button><div id='valid_servers'></div>`;
				document.querySelector("#s1-next").style.display = "none";
                                checkGuilds();
				cont = 2;
			}
		}
                if(next == false) {
                        document.querySelector("#js_msg").innerHTML = old_text;
			if(cont == 1) {
				document.querySelector("#js_msg").innerHTML = old_text_front;
	                        document.querySelector("#s1-back").style.display = "none";
			}
			if(cont == 2) {
				document.querySelector("#s1-next").style.display = "inline";
			}
			cont = cont - 1;
                }
	  }
	function checkGuilds(){
		document.querySelector("#valid_servers").innerHTML = "Getting Guilds... Please wait"
        $.ajax({
                url: "/api/users/{{userid}}/valid_servers",
                type: "GET",
           	statusCode: {
                	'429': function(data) {
				console.log(data)
				alert(`You are being ratelimited. You may only do three server check every five minutes. Please try again in 5-10 minutes...`)
                	},
			'200': function(data) {
				server_data = ""
				for(server in data.valid) {
					server_data += (`<div style='width: 500px; min-width: 500px; max-width: 500px; padding: 3px; border-style: solid; border-radius: 4px 4px 4px 4px; background: black; display: inline-block;'><a style='color: white !important;' href='/servers/${server}/setup'><strong>${data.valid[server].name}</strong><br/><p>Server ID: ${server}</a></div><br/>`)
				}
				document.querySelector("#valid_servers").innerHTML = server_data
			}
		}
        })
	};
   </script>
{% endblock %}
{% block footer %}

{% endblock %}

