{% extends "base/base.html" %}

{% block head %}

{% endblock %}

{% block content %}
	<!-- Basic Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


   <h3 style="text-align:center; color:white; font-weight:bold;">Add Server (Coming Soon)</h3>
   <h4 style="text-align:center; color:white;" id="js_msg">We're glad you're here!<br/>If you aren't a server administrator, please go ahead and ask them to set this up.<br/><br/><span style="opacity: 0.8">Once you are ready to continue, click Continue. NOTE THAT THIS IS NOT DONE YET AND WILL NOT WORK YET, CHECK BACK SOON</span></h4>
   <button onclick='doStep(false);' style="display: none; margin-right: 5px;" type="button" id="s1-back" class="btn btn-outline-light"><span class="iconify white" data-icon="fa-solid:arrow-left" data-inline="false" style="margin-right: 3px;"></span>Back</button>
   <button onclick='doStep(true);' type="button" id="s1-next" class="btn btn-outline-light">Continue<span class="iconify white" data-icon="fa-solid:arrow-right" data-inline="false" style="margin-left: 3px;"></span></button>
   <script>
	  var cont = 0;
	  var old_text = document.querySelector("#js_msg").innerHTML;
	  var old_text_front = document.querySelector("#js_msg").innerHTML;
	  function doStep(next) {
		if(next == true) {
			if(cont == 0) {
				document.querySelector("#js_msg").innerHTML = "The first thing you will need to do to add your server is to add our bot to your server by clicking <a target='_blank' href='{{invite}}' class='long-desc-link'>here</a>.<br/>You must give it permission to create invites and add reactions<br/><br/><span style='opacity: 0.8'>Once you have added the bot to your server, click Continue.</span>";
				document.querySelector("#s1-back").style.display = "inline";
				document.querySelector("#s1-next").style.display = "inline";
				old_text = document.querySelector("#js_msg").innerHTML;
				cont = 1;
			}
			else {
				document.querySelector("#js_msg").innerHTML = `The list of servers with the Fates List Bot that you can manage is listed below.<br/>Only servers that you are in while logging into Fates List and you have 'Manage Server' or 'Administrator' in is listed below:<br/><button type='button' onclick='checkGuilds();' class='btn btn-outline-light' style='margin-bottom: 10px;'>Recheck</button><div id='valid_servers'></div>`;
				document.querySelector("#s1-next").style.display = "none";
                                checkGuilds();
				cont = 2;
			}
		}
                if(next == false) {
                        document.querySelector("#js_msg").innerHTML = old_text;
			if(cont == 1) {
				document.querySelector("#js_msg").innerHTML = old_text_front;
	                        document.querySelector("#s1-back").style.display = "none";
			}
			if(cont == 2) {
				document.querySelector("#s1-next").style.display = "inline";
			}
			cont = cont - 1;
                }
	  }
	function checkGuilds(){
		document.querySelector("#valid_servers").innerHTML = "Getting Guilds... Please wait"
        $.ajax({
                url: "/api/users/{{userid}}/servers/prepare",
                type: "POST",
		data: JSON.stringify({'scopes': "{{scopes}}", "access_token": {{access_token|safe}} }),
           	statusCode: {
                	'429': function(data) {
				console.log(data)
				modalShow('You are being ratelimited', `You are being ratelimited. Please try again in 30 seconds. Thank you for your patience!`)
                	},
			'200': function(data) {
				server_data = ""
				for(server in data.servers) {
					server_data += `
					<a style="color: white !important;" href='javascript:void' onclick='openGuild("${server}")'>
					<div id='${server}' data-code='${data.servers[server].code}' style='width: 900px; min-width: 900px; max-width: 900px; padding: 3px; border-style: solid; border-radius: 4px 4px 4px 4px; background: black; display: inline-block;' data-hidden='true'>
						<p><strong>${data.servers[server].name}</strong></p>
						<p>Server ID: ${server}</p>
					</div>
					</a>
					<div style='display: none; background: black; border-radius: 10px 10px 10px 10px' id='form-${server}' onclick="ignoreParent(); preventDefault()">
						<label for="description">Short Description</label>
						<input id="description-${server}" type="text" class="form-control fform" name="description" placeholder="Great server, join now!">
						<label 
						for="html_long_description-${server}"
					      	>Long Description Type (Click to change)</label>
						<select id="html_long_description-${server}" name="html_long_description" class="form-control fform select-fl">
						<option value="true" selected>HTML</option>
						<option value="false"selected>Markdown</option>
						</select>

  						<label
					        for="long_description"
					        >Long description <span style="color: red; font-weight: bold" aria-hidden="true">*</span>
						  </label><br/>
						<textarea
					        class="form-control fform"
					        required
						name="long_description"
					        placeholder="Write about your bot using html or markdown"
					        minlength="300"
						id="long_description-${server}"
					        style="border-radius: 4px 4px 4px 4px !important;"
						></textarea>
						<button type="button" class="btn btn-outline-light" style="margin-bottom: 20px;" onclick="previewLongDesc('${server}')">Preview</button><br/>
						<small style="font-weight: bold; font-size: 15px; color: red;">You can only preview your long description 20 times every minute unless your bot is certified as this uses the preview API</small>
						<div id="${server}-ld-preview" style="display: block; min-height: 400px; overflow: auto; color: white; border-style: solid; border-radius: 4px 4px 4px 4px; margin-bottom: 20px; background: black; font-weight: normal; text-align: left;">
						Your Long Description will appear here when you click the Preview button :)
					</div>
					</div>
					<br/>
					</a>`
				}
				document.querySelector("#valid_servers").innerHTML = server_data
			}
		}
        })
	};
	function openGuild(sid) {
		if($("#" + sid).attr("data-hidden") == "true"){
			$("#form-" + sid).show()
			$("#" + sid).attr("data-hidden", "false")
		}
		else {
			$("#form-" + sid).hide()
			$("#" + sid).attr("data-hidden", "true")
		}
	}

function previewLongDesc(sid){
	hldid = "#html_long_description-" + sid
	html = document.querySelector(hldid);
	html = html.value
	ld = document.querySelector("#long_description-" + sid);
	ld = ld.value;
	if(ld == "")
		return
	$.ajax({
		type: 'POST',
		dataType: 'json',
		url: '/api/preview',
		data: JSON.stringify({"html_long_description": html, "data": ld}),
		statusCode: {
			"200": function(data) {
				$("#" + sid + "-ld-preview").html(data.html)
			},
			"429": function(data) {
				alert("You have been rate limited from using previews")
			}
		}
		});
}

   </script>
{% endblock %}
{% block footer %}

{% endblock %}

