{% extends "base/base.html" %}

{% block head %}

{% endblock %}

{% block content %}
<p class="white" style="text-align: left; margin-left: 20px;">
Fates List Terms Of Service & Privacy Policy<br/>
By using our service or visiting our website, you agree that we:<br/><br/>

Reserve the right to make changes to your bot's page at any time<br/>
Can collect your login information in order to keep you signed in<br/>
Require you to be at least 13 years of age<br/>
Use cookies to improve your site experience<br/>
Don't allow you to leak private information on another user's bots, such as API tokens<br/>
Require you to follow Discord's ToS<br/><br/>

Privacy Policy Info<br/><br/>

Data Collection<br/><br/>

We collect permanent clearable (session) cookies in order to keep you signed in and to improve your experience on the website, and store data through PostgreSQL and Redis (ratelimits). Information you give us, such as bot application forms, badges your bots earn in the future, and your profile information is all stored privately.<br/><br/>

Data Deletion<br/><br/>

You can easily have your data deleted at any time. You may delete your account by contacting an admin (we will do it), and you can delete your bots from their edit page<br/><br/>

Security<br/><br/>

Our page is well-secured and guarantees that only you and Fates List Staff (for obvious reasons) can edit your bots' pages, and that our administrative panels require proper permissions and logins to be accessible.<br/><br/>

Contact<br/><br/>

You can contact our staff by joining the Fates List support server or by using our upcoming Support Requests feature.<br/><br/>

Updates<br/><br/>

We update sporadically, and changes are made often. By joining the support server, you can be notified of changes we make. This legal page may be changed at any time without notice<br/><br/>

We are not affiliated with Discord Inc. or any of its partners or affiliates.<br/><br/>

Fates List is completely open source. You can find our source code at <a href="https://github.com/Fates-List/FatesList" class="long-desc-link">https://github.com/Fates-List/FatesList</a><br/><br/>

Permission's Break Down<br/><br/>

We need to access your Username, Avatar And User ID in order to identify who you are on Discord so you can actually add bots.<br/>We also need to know what servers you are in if you keep server listing enabled<br/>We also need the ability to join servers for you if you ask to be joined to the support server.<br/><br/>

Your privacy matters to us. By continuing, you agree to your data being processed and/or stored for analytical purpose as per our privacy policy. The data we collect is your username, user id, avatar and current discord status (as in online or offline) and any info you submit to us. We may also log IPs for access logs and due to technical reasons, we cannot delete these easily in a data deletion request either so please use a VPN if you do not like your IP being logged by nginx. We also store timestamps of when you vote for a bot and these timestamps are exposed to bots and may be used by bot owners for their own purposes. These timestamps can be deleted by a Data Deletion Request (for more imformation, DM Mod Mail on the support server)

</p>
{% endblock %}
{% block footer %}

{% endblock %}

